# Produces dataset of project times from appended pipeline datasets ("all_quarters_merged.csv")

In [22]:
import pandas as pd
import logging
import dateutil
from dateutil import parser
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 500)

In [23]:
logging.basicConfig(level=logging.INFO)

# Code Broken Down

In [76]:
df = pd.read_csv("cleaned/all_quarters_merged.csv")

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,2,6,12,16,17,20,21,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,53,54,55,63,65,73,75,77,78,79,80,81,82,84,91,94,95,96,97,99,100,101,102,103,104,105,106,111,117,118,119,120,121,122,123,124,125,126,127,131,138,144,146,147,148,149,150) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [77]:
# keep only variables of interest
list = ['address', 'apn', 'best_date', 'best_stat','firstfiled', 'report_quarter', 'report_year', 'units', 'unitsnet', 'dbi_permit', 'x', 'y']
df = df[list]

In [78]:
#consolidate status categories. Start with 3 for now
def status_function(value):
    if value['best_stat']=="CONSTRUCTION":
        field = 'Under Construction'
    elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
        field = 'Building Permit Approved'
    else:
        field = 'Proposed'
    return field
        
df['status']=df.apply(status_function, axis=1)

In [79]:
gb = df.groupby(['apn', 'address'])

In [80]:
gb.groups

{('3753042',
  '259 CLARA ST'): Int64Index([ 8024,  9077, 10010, 10828, 11688, 12508, 13105, 14387, 15065,
             16217, 17438, 19002],
            dtype='int64'),
 ('3702053',
  '1169 MARKET ST'): Int64Index([179, 1390, 2311, 2592, 3331, 4287], dtype='int64'),
 ('3776092',
  '246 RITCH ST'): Int64Index([259, 1073, 1938, 2696, 3230, 4082, 5177, 5636, 6373, 7117, 8067,
             8590, 9519],
            dtype='int64'),
 ('1805006',
  '1433 48TH AV'): Int64Index([9094, 10036, 10850, 11711, 12529, 13529, 14606, 15719, 16963,
             17746, 18604],
            dtype='int64'),
 ('5324010', '1466 PALOU AV'): Int64Index([18628], dtype='int64'),
 ('3640079',
  '3040 24TH ST'): Int64Index([10073, 10968, 11835, 12642, 13666, 13921, 15651, 16896, 18094,
             19094],
            dtype='int64'),
 ('3723115',
  '770 FOLSOM ST'): Int64Index([7566, 8370, 9017, 9802, 10635, 11633, 12452, 13704, 14777, 15889,
             17073],
            dtype='int64'),
 ('1667024',
  '4820 FULTON ST'): Int64Index([14060, 15466, 16643, 18085, 19312], dtype='int64'),
 ('5825032', '782-786 ANDOVER ST'): Int64Index([15081], dtype='int64'),
 ('6795A029',
  '203 COTTER ST'): Int64Index([17013, 18300, 18859], dtype='int64'),
 ('4085010',
  '858 FLORIDA ST'): Int64Index([9102, 10044, 10858, 11717, 12538], dtype='int64'),
 ('0145044', '1234 GRANT AV'): Int64Index([17507, 18517], dtype='int64'),
 ('3642062',
  '811 CAPP ST'): Int64Index([14053, 15616, 16041, 18037, 19542], dtype='int64'),
 ('6272030',
  '4801 MISSION ST'): Int64Index([399, 1435, 2051, 2798, 3757, 4447, 5048, 5712, 6461, 7215, 8220,
             8682],
            dtype='int64'),
 ('3521005',
  '340 11TH ST'): Int64Index([  192,  1013,  1831,  7035,  7765,  8457, 12050, 13772, 14253,
             15862, 17070, 18389, 19147],
            dtype='int64'),
 ('2716033',
  '135 YUKON ST'): Int64Index([4273, 4641, 5924, 6715, 7448, 7731, 8910, 9862, 10683, 11555], dtype='int64'),
 ('1205021', '312 BAKER ST'): Int64Index([19102], dtype='int64'),
 ('3725068',
  '475 MINNA ST'): Int64Index([14922, 16129, 17342, 19307], dtype='int64'),
 ('1202002B',
  '650 DIVISADERO ST'): Int64Index([12792, 13097, 13875, 15040, 16195, 17422, 19457], dtype='int64'),
 ('2829010',
  '4376 24TH ST'): Int64Index([ 7575,  7986,  9025,  9806, 10642, 11641, 12459, 13662, 14725,
             15369, 16454, 17679, 19268],
            dtype='int64'),
 ('7106058',
  '200 BROAD ST'): Int64Index([  561,  1189,  2288,  3134,  3503,  4180,  4614,  5818,  6585,
              7316,  8293,  8788,  9699, 10557, 11414, 12251, 13348, 14412,
             15287, 16396, 17558, 18849],
            dtype='int64'),
 ('1932012', '1671 11TH AV'): Int64Index([614], dtype='int64'),
 ('5087003', 'SCHLAGE'): Int64Index([13705], dtype='int64'),
 ('0499002D', '1320 - 1380 LOMBARD ST'): Int64Index([19684], dtype='int64'),
 ('5203083', '3433 03RD ST'): Int64Index([19151], dtype='int64'),
 ('3590014',
  '3324 19TH ST'): Int64Index([10997, 11863, 12678, 13075, 13894, 15086, 16230, 17447, 19137], dtype='int64'),
 ('0287013',
  '300 GRANT AVE'): Int64Index([   41,  1413,  1640,  2438,  3805,  4519,  4710,  5376,  6156,
              6848,  8282,  9214,  9324, 10363, 11057, 11942],
            dtype='int64'),
 ('5319037',
  '1947 OAKDALE AV'): Int64Index([10143, 10974, 11842, 12657, 13314, 13995, 15176, 16358, 17597,
             18642],
            dtype='int64'),
 ('1029095', '2901 CALIFORNIA ST'): Int64Index([495, 1373], dtype='int64'),
 ('3553008',
  '490 SOUTH VAN NESS AV'): Int64Index([  778,  1202,  2198,  2963,  3527,  4188,  4849,  6086,  6603,
              7332,  7899,  8805,  9714, 10568, 11443, 12278, 12974, 14327,
             14874, 16060, 17269, 19323],
            dtype='int64'),
 ('1707047',
  '4227 LINCOLN WY'): Int64Index([151, 1283, 1771, 2555, 3310, 4285, 5320, 5511, 6251, 6985], dtype='int64'),
 ('3504030',
  '1699 MARKET ST'): Int64Index([15975, 17174, 18776], dtype='int64'),
 ('3749184',
  '75 LANSING ST'): Int64Index([9119, 10062, 10875, 11734, 12554, 13642, 14695, 15742, 16968,
             17933, 19504],
            dtype='int64'),
 ('3913005',
  '155 DE HARO STREET'): Int64Index([12770, 13731, 14238, 15796, 17058], dtype='int64'),
 ('1738021',
  '1126 IRVING ST'): Int64Index([10992, 11859, 12675, 13177, 13909, 15104, 16278, 17513, 18467], dtype='int64'),
 ('3535001',
  '2001 MARKET ST'): Int64Index([657, 1167, 1839, 2621, 3650, 3977, 4949, 5561, 6119, 7040, 8103,
             8462],
            dtype='int64'),
 ('5841005',
  '423 JUSTIN DR'): Int64Index([15637, 16746, 18228, 19255], dtype='int64'),
 ('3639028',
  '953 TREAT AV'): Int64Index([  213,  1438,  1870,  2653,  3755,  4449,  5042,  5588,  6330,
              7063,  8223,  8483, 17496, 19614],
            dtype='int64'),
 ('0599008',
  '1840 WASHINGTON ST'): Int64Index([75, 1290, 1668, 2996, 3335], dtype='int64'),
 ('0811003', '103 POLK ST'): Int64Index([9109], dtype='int64'),
 ('3583082',
  '4035 18TH ST'): Int64Index([  200,   939,  1851,  2635,  3603,  3960,  5018,  5575,  6318,
              6901,  8092,  8510,  9455, 10188, 11210, 12066, 13511, 14634],
            dtype='int64'),
 ('1553036', '534 11TH AV'): Int64Index([17850, 19356], dtype='int64'),
 ('0337014A',
  '469 EDDY ST'): Int64Index([12788, 13018, 13853, 14917, 16123, 17354, 19299], dtype='int64'),
 ('4071006', '636 CAROLINA ST'): Int64Index([19443], dtype='int64'),
 ('1153020',
  '1823 TURK ST'): Int64Index([10126, 10956, 11823, 12629, 13112, 14405, 15071, 16219, 17443,
             18816],
            dtype='int64'),
 ('3780001',
  '502 07TH ST'): Int64Index([14918, 16134, 17388, 19336], dtype='int64'),
 ('0829040', '526 HICKORY ST'): Int64Index([15323], dtype='int64'),
 ('4591C078',
  '10 INNES CT'): Int64Index([13015, 13872, 15029, 16179, 17406], dtype='int64'),
 ('3589091',
  '144 LEXINGTON ST'): Int64Index([12799, 13211, 14541, 15791, 16949, 17979, 18610], dtype='int64'),
 ('3596059',
  '263 LEXINGTON ST'): Int64Index([8028, 9047, 9980, 10795], dtype='int64'),
 ('1726003',
  '1223 24TH AV'): Int64Index([152, 1050, 1772, 2556, 3215, 4061], dtype='int64'),
 ('5598006',
  '367 BAY SHORE BL'): Int64Index([ 1255,  2223,  3056,  3542,  4217,  4746,  6106,  6672,  7392,
              7915,  8864,  9774, 10482, 11482, 12329, 13763, 14501, 15828,
             16922, 18311],
            dtype='int64'),
 ('3755079',
  '10 HALLAM ST'): Int64Index([  538,  1164,  2228,  3064,  3485,  4156,  4955,  5828,  6609,
              7338,  7875,  8811,  9720, 10574, 11448, 12283],
            dtype='int64'),
 ('0500015',
  '1268-1270 LOMBARD ST'): Int64Index([63, 1193, 1655, 2456, 3641, 3995, 4870, 5370, 6151, 6859, 8120,
             9225],
            dtype='int64'),
 ('1607011D', '789 37TH AV'): Int64Index([19527], dtype='int64'),
 ('1865009',
  '1559 19TH AV'): Int64Index([611, 902, 1785, 2566, 3593, 3932, 5121, 5520, 6258, 6998, 7651,
             8417],
            dtype='int64'),
 ('0510029A',
  '2151 LOMBARD ST'): Int64Index([15803, 17030, 18292, 18895], dtype='int64'),
 ('2416013', '2526 16TH AV'): Int64Index([18995], dtype='int64'),
 ('2381045A',
  '3431 TARAVAL ST'): Int64Index([15797, 17051, 18276, 19150], dtype='int64'),
 ('1376014', '167 16TH AV'): Int64Index([759, 1366, 2154], dtype='int64'),
 ('1713036',
  '1246 38TH AV'): Int64Index([13441, 14148, 15503, 16694, 17986, 18527], dtype='int64'),
 ('6234024',
  '292 ARLETA AV'): Int64Index([15583, 16745, 18049, 19068], dtype='int64'),
 ('1265019',
  '1236 ARGUELLO BLVD'): Int64Index([11538, 12721, 13201, 13968, 15185, 16355], dtype='int64'),
 ('3750082',
  '667 FOLSOM ST 120 HAWTHORNE ST 126 HAWTHORNE ST'): Int64Index([15957, 17151, 19468], dtype='int64'),
 ('3532004A',
  '1726 - 1730 MISSION STREET'): Int64Index([16116], dtype='int64'),
 ('1407017',
  '2500 CLEMENT ST'): Int64Index([7574, 7999, 9024, 9791, 10641, 11640, 12458, 13133, 13918], dtype='int64'),
 ('0756018',
  '1301 TURK ST'): Int64Index([15567, 16447, 18029, 18552], dtype='int64'),
 ('3548033', '1801 AND 1863 MISSION ST'): Int64Index([18810], dtype='int64'),
 ('4271008',
  '1340 ALABAMA ST'): Int64Index([10114, 10944, 11811, 12618, 13525, 14697, 15657, 16865, 18109], dtype='int64'),
 ('4160003',
  '910 CAROLINA ST'): Int64Index([ 7583,  8371,  9033,  9968, 10779, 11649, 12466, 13310, 14503,
             15221, 16330, 17591, 19587],
            dtype='int64'),
 ('3722367', '151 THIRD ST'): Int64Index([11922, 13699], dtype='int64'),
 ('3755054', '349 08TH ST'): Int64Index([17325, 19161], dtype='int64'),
 ('3613030', '2507 FOLSOM ST'): Int64Index([18990], dtype='int64'),
 ('4884027', '2700 ARELIOUS WALKER DR'): Int64Index([19631], dtype='int64'),
 ('5457037',
  '2895 SAN BRUNO AV'): Int64Index([  336,  1578,  1991,  3029,  3151,  4576,  4797,  6054,  6420,
              7162,  8267,  8640,  9557, 10284, 11304, 12163, 13077, 14394,
             15032, 16182, 17407, 19066],
            dtype='int64'),
 ('0330004',
  '33 POWELL ST'): Int64Index([12929, 14401, 15802, 17053, 18375, 19129], dtype='int64'),
 ('3746003', '201 FOLSOM ST'): Int64Index([14795], dtype='int64'),
 ('1857036',
  '721 KIRKHAM ST'): Int64Index([9114, 10056, 10870, 11729, 12549, 13311, 14418, 15215, 16373,
             17576, 19426],
            dtype='int64'),
 ('3753008',
  '374  5TH ST'): Int64Index([502, 1492, 2391, 2934, 3795, 5778, 12989, 14370], dtype='int64'),
 ('1185026',
  '1681 FULTON ST'): Int64Index([9111, 10053, 10867, 11726, 12547, 13190, 14519, 15217], dtype='int64'),
 ('5918001',
  '1248 SILVER AV'): Int64Index([  745,  1216,  2130,  2864,  3518,  4198,  4820,  5847,  6626,
              7353,  7906,  8800,  9735, 10588, 11429, 12295, 13358, 14015,
             15441, 16550, 17839, 18528],
            dtype='int64'),
 ('1067028',
  '66 COOK ST'): Int64Index([13449, 14635, 15523, 16823, 18004, 19467], dtype='int64'),
 ('4937014',
  '1060 GILMAN AV'): Int64Index([  315,   879,  2336,  2746,  3296,  3913,  5193,  5422,  6416,
              6917,  7633,  8634,  9554, 10271, 11291, 12151, 14651, 15424,
             16587, 17794, 18437],
            dtype='int64'),
 ('3569017',
  '3312 17TH ST'): Int64Index([13954, 15202, 16416, 17632, 19135], dtype='int64'),
 ('2700012',
  '4546 19TH ST'): Int64Index([ 4608,  5959,  6756,  7489,  8351,  8951,  9900, 10720, 11590,
             12387, 13364, 14539, 14985, 16616, 17233, 19290],
            dtype='int64'),
 ('2303016',
  '2277 46TH AV'): Int64Index([15588, 16776, 18016, 18934], dtype='int64'),
 ('6048010',
  '2774 SAN BRUNO AV'): Int64Index([13480, 13997, 15150, 16407, 17669, 18880], dtype='int64'),
 ('6478031',
  '495 MORSE ST'): Int64Index([9180, 9833, 10917, 11789, 12596, 14628, 15729, 16861, 18166,
             19325],
            dtype='int64'),
 ('5514002',
  '1510 YORK ST'): Int64Index([9104, 10047, 10861, 11720, 12541, 13532, 14126, 15698, 16936,
             17765, 18699],
            dtype='int64'),
 ('3778046B',
  '735 BRYANT ST'): Int64Index([17096, 18318, 19499], dtype='int64'),
 ('0069020',
  '1001 CHESTNUT ST'): Int64Index([8393, 9058, 9991, 10679, 11670, 12490, 13286, 14137, 15547, 16507,
             17777, 19652],
            dtype='int64'),
 ('0492025',
  '2026 LOMBARD ST'): Int64Index([62, 807, 1654, 2455, 3256, 3863, 5330, 5390], dtype='int64'),
 ('1550045',
  '522 08TH AV'): Int64Index([10085, 10931, 11799, 12606, 13393, 14685, 15726, 16873, 17749,
             19346],
            dtype='int64'),
 ('3732071',
  '468 CLEMENTINA ST'): Int64Index([  232,  1029,  1911,  7097,  7781,  8567,  9500, 10226, 11246,
             12829, 13031, 14349, 14940, 16149, 17362, 19298],
            dtype='int64'),
 ('0836007',
  '1546 - 1564 MARKET ST'): Int64Index([17199, 18723], dtype='int64'),
 ('2804041',
  '4141 23RD ST'): Int64Index([ 3587,  4250,  4672,  5792,  6561,  7431,  8166,  8896,  9847,
             10500, 11507, 12347, 13417, 14557, 15383, 16526, 17865],
            dtype='int64'),
 ('1844045',
  '439 JUDAH ST'): Int64Index([2262, 3100, 3553, 4227, 4711, 5892, 6685], dtype='int64'),
 ('1066028',
  '3150 GEARY BL'): Int64Index([   99,  1275,  1706,  2497,  3303,  4281,  5329,  5476,  9264,
              9359, 10396, 11090, 11985, 14294, 16212, 17440],
            dtype='int64'),
 ('0191008A',
  '1030 WASHINGTON ST'): Int64Index([15881, 17095, 18287, 18422], dtype='int64'),
 ('3505001',
  '1601 - 1637 MARKET ST / 53 COLTON ST'): Int64Index([17116, 18742], dtype='int64'),
 ('0861035', '607 HAIGHT ST'): Int64Index([19425], dtype='int64'),
 ('2823A016',
  '36 KNOLLVIEW WAY'): Int64Index([12794, 13650, 14488, 15790, 16933, 17982, 19185], dtype='int64'),
 ('4757047',
  '1167 PALOU AV'): Int64Index([13442, 13777, 15549, 16680, 17937, 18483], dtype='int64'),
 ('3949001',
  '1200 17TH STREET'): Int64Index([7480, 8345, 8942, 9891, 10712, 11583, 12381, 12899, 13803, 15911,
             15941],
            dtype='int64'),
 ('1069045', '2882 -  2890 GEARY BL'): Int64Index([17616], dtype='int64'),
 ('4058010',
  '2235 03RD ST'): Int64Index([274, 1279, 1954, 2711, 3350, 4283, 5325, 5646], dtype='int64'),
 ('3594016',
  '3360 20TH ST'): Int64Index([  207,   840,  1858,  2641,  3205,  3884,  5278,  5579,  6322,
              6905,  7608,  8514,  9459, 10193, 11212, 12068, 13128, 14388,
             15074, 16241, 17446, 19141],
            dtype='int64'),
 ('4094044', '939 KANSAS ST'): Int64Index([19604], dtype='int64'),
 ('3778004', '630 - 698 BRANNAN ST'): Int64Index([19438], dtype='int64'),
 ('3211010A',
  '270 OCEAN AV'): Int64Index([  648,   869,  1824,  2608,  3290,  3905,  5219,  5552,  7627,
             11192, 12047, 13126, 14424, 15078, 16225, 17463],
            dtype='int64'),
 ('0278010', '1244 LARKIN ST'): Int64Index([17518, 18526], dtype='int64'),
 ('5892032', '78 NEY ST'): Int64Index([19525], dtype='int64'),
 ('1736003', '1221 14TH AV'): Int64Index([15613], dtype='int64'),
 ('1890005', '1531 44TH AV'): Int64Index([16969, 18147, 18714], dtype='int64'),
 ('2330005E',
  '2243 19TH AV'): Int64Index([624, 823, 1796, 3009, 3267, 3874, 5302, 5527, 6264, 7005, 7601,
             8424],
            dtype='int64'),
 ('2628026',
  '560 ROOSEVELT WY'): Int64Index([ 3107,  3564,  4234,  4694,  5912,  6559,  7429,  7724,  8895,
              9845, 10659, 11505, 12345, 13300, 14485, 15192, 16369, 17620,
             19378],
            dtype='int64'),
 ('3506004',
  '10 SOUTH VAN NESS AV'): Int64Index([15915, 17111, 19654], dtype='int64'),
 ('5000001', '490 JAMESTOWN AV (BLDG 9)'): Int64Index([19608], dtype='int64'),
 ('0192014',
  '835-845 JACKSON ST'): Int64Index([    8,  1537,  1611,  2413,  3822,  4547,  5006,  5350,  6131,
              6817,  8228,  9188,  9300, 10341, 11032, 11927, 13751, 14769,
             15794, 17000],
            dtype='int64'),
 ('0948003A', '2832 UNION ST'): Int64Index([17893, 19057], dtype='int64'),
 ('1736061', '1221 14TH AV'): Int64Index([16707, 17957, 18495], dtype='int64'),
 ('0948018',
  '2851 FILBERT ST'): Int64Index([  466,  1581,  2131,  2882,  3845,  4578,  4790,  5858,  6637,
              7362,  8331,  8827,  9740, 10595, 11458, 12300, 13402, 14017,
             15398, 16546, 17901, 19058],
            dtype='int64'),
 ('1180015',
  '834 DIVISADERO ST'): Int64Index([10987, 11854, 12670, 15820, 17068, 18290, 18686], dtype='int64'),
 ('2393040',
  '2255 TARAVAL ST'): Int64Index([ 4611,  5943,  6741,  7475,  7951,  8937,  9886, 10707, 11577,
             12261, 13111, 13892, 15069, 16221, 17442, 18930],
            dtype='int64'),
 ('0512026',
  '2353 - 2347 LOMBARD ST'): Int64Index([14400, 14946, 16156, 17373, 18955], dtype='int64'),
 ('4058008',
  '616 20TH ST'): Int64Index([553, 1245, 2280, 3126, 3422, 4020, 4764, 5811, 6578, 7310, 8143,
             8541],
            dtype='int64'),
 ('4217036',
  '2130 24TH ST'): Int64Index([290, 1278, 1968, 8617], dtype='int64'),
 ('0596031',
  '1533 PACIFIC AV'): Int64Index([  496,  1180,  2385,  2928,  3440,  4171,  4895,  6076,  6305,
              7284,  7887,  8768,  9675, 10532, 11390, 12230],
            dtype='int64'),
 ('1334040',
  '107 24TH AV'): Int64Index([9178, 9831, 10916, 11788, 12595, 13564, 14629, 15730, 16858], dtype='int64'),
 ('3747019',
  '333 FREMONT ST'): Int64Index([5623, 6363, 7103, 8050, 8574, 9506], dtype='int64'),
 ('3611062',
  '658-666 SHOTWELL ST'): Int64Index([  774,  1568,  2194,  2959,  3840,  4566,  4843,  6082,  6599,
              7328,  8324,  8801,  9711, 10565, 11439, 12276, 13675, 14494,
             15448, 16553, 17840],
            dtype='int64'),
 ('0300012',
  '995 SUTTER ST'): Int64Index([488, 959, 2170, 2914, 3408, 3979, 4943, 5770, 6537], dtype='int64'),
 ('6079029',
  '443 MADRID ST'): Int64Index([15644, 16905, 18196, 19276], dtype='int64'),
 ('3702391',
  'TRINITY PLAZA PHASE III'): Int64Index([14271, 15921, 17120, 19657], dtype='int64'),
 ('3505001',
  '1601-1637 MARKET ST / 53 COLTON ST'): Int64Index([15919], dtype='int64'),
 ('0327011',
  '72 ELLIS ST'): Int64Index([   49,  1475,  1648,  2445,  3783,  4490,  4863,  5382,  6162,
              6853,  8254,  9218,  9327, 10367, 11061, 11954, 13703, 14778,
             15899, 17015, 18284, 19492],
            dtype='int64'),
 ('3642027',
  '2751 MISSION ST'): Int64Index([215, 1032, 1872, 7064, 7783, 8484], dtype='int64'),
 ('3779132',
  '724 BRANNAN ST'): Int64Index([14262, 15898, 16924, 18348, 19496], dtype='int64'),
 ('0306020',
  '555 POST ST'): Int64Index([14956, 16097, 17384, 19375], dtype='int64'),
 ('1456003',
  '423 24TH AV'): Int64Index([11540, 12723, 13187, 13987, 15184, 16352, 17579, 19253], dtype='int64'),
 ('6521025',
  '2877 FOLSOM ST'): Int64Index([13622, 14039, 15533, 16720, 17946, 19063], dtype='int64'),
 ('3656019', '4064 24TH ST'): Int64Index([19232], dtype='int64'),
 ('0342001',
  '950 MARKET ST'): Int64Index([10119, 10949, 11816, 12622, 12904, 13794, 14811, 15948, 17140,
             19612],
            dtype='int64'),
 ('4335003I', '2887 BRYANT ST'): Int64Index([14250, 15868], dtype='int64'),
 ('5259034', '1500 INNES AV'): Int64Index([18694], dtype='int64'),
 ('1286024', '1318 COLE ST'): Int64Index([17802, 18557], dtype='int64'),
 ('3517034', '250 10TH STREET'): Int64Index([17004], dtype='int64'),
 ('3635014',
  '1198 VALENCIA ST'): Int64Index([16089, 17305, 18497], dtype='int64'),
 ('5258001',
  '1409 HUDSON AV'): Int64Index([319, 845, 2340, 2750, 3262, 3887, 5269, 5426], dtype='int64'),
 ('3557063', '208 DOLORES ST'): Int64Index([668, 1119], dtype='int64'),
 ('3596113',
  '899 VALENCIA ST'): Int64Index([ 1860,  2643,  3381,  4419,  5280,  5580,  6323,  6906,  8196,
              8515,  9460, 10194, 11213, 12069, 13049],
            dtype='int64'),
 ('3755049', '32 HERON ST'): Int64Index([17878, 19110], dtype='int64'),
 ('1622010',
  '651 22ND AV'): Int64Index([596, 947, 1756, 2542, 3662, 3968, 4990, 5502], dtype='int64'),
 ('1127007',
  '1816 EDDY ST'): Int64Index([109, 1352, 1714, 2505, 3682, 4356, 4992, 6015, 6215, 6945], dtype='int64'),
 ('5896022',
  '701 SILVER AV'): Int64Index([10147, 10978, 11846, 12661, 13679, 14627, 15682, 16883, 18131,
             19482],
            dtype='int64'),
 ('0870003',
  '100 BUCHANAN ST'): Int64Index([5982, 6797, 7527, 7745, 8979, 9932, 10721, 11615, 12410, 12939], dtype='int64'),
 ('6468020', '5401 MISSION ST'): Int64Index([18254], dtype='int64'),
 ('3778004', '630-698 BRANNAN ST'): Int64Index([18297], dtype='int64'),
 ('5576001',
  '280 BAY SHORE BL'): Int64Index([  481,  1174,  2163,  3048,  3489,  4165,  4926,  5766,  6533,
              6930,  7882,  8758,  9664, 10522, 11381, 12221, 13717, 14246,
             15807, 16920, 18390, 19047],
            dtype='int64'),
 ('0557019',
  '2151 GREEN ST'): Int64Index([70, 1078, 1663, 2463, 3719, 4330, 5166, 5395, 6174, 6865, 8070,
             9209],
            dtype='int64'),
 ('3548001',
  '300 SOUTH VAN NESS AVE'): Int64Index([7928, 9090, 10023, 10842, 11702, 12521], dtype='int64'),
 ('4224027',
  '1510 25TH ST'): Int64Index([  450,  1231,  2364,  2867,  3636,  4013,  4784,  5849,  6627,

In [90]:
group_df = gb.get_group(('3543011','2175 MARKET ST'))

In [91]:
group_df = group_df.sort('best_date')
group_df.reset_index(drop=True, inplace=True)

/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [92]:
group_df

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,units,unitsnet,dbi_permit,x,y,status
0,2175 MARKET ST,3543011,2006-08-31,PL FILED,2006-10-17,4,2010,60.0,NaN,NaN,-122.430245,37.766292,Proposed
1,2175 MARKET ST,3543011,2006-08-31,PL FILED,2006-10-17,1,2011,60.0,NaN,NaN,-122.430245,37.766292,Proposed
2,2175 MARKET ST,3543011,2006-08-31,PL FILED,2006-10-17,2,2011,60.0,NaN,NaN,-122.430245,37.766292,Proposed
3,2175 MARKET ST,3543011,2012-07-20,BP FILED,2012-06-01 00:00:00,2,2012,60.0,60.0,NaN,37.766292,-122.430245,Proposed
4,2175 MARKET ST,3543011,2012-07-20,BP FILED,2012-06-01,3,2012,88.0,88.0,2.01207E+11,-122.430245,37.766292,Proposed
5,2175 MARKET ST,3543011,2012-07-20,BP FILED,2012-06-01,4,2012,88.0,88.0,201207205377,37.766292,-122.430245,Proposed
6,2175 MARKET ST,3543011,2013-04-17,BP ISSUED,2012-06-01,1,2013,88.0,88.0,201207205377,37.766292,-122.430245,Building Permit Approved
7,2175 MARKET ST,3543011,2013-06-19,CONSTRUCTION,2012-06-01,2,2013,88.0,88.0,201207205377,37.766286,-122.429913,Under Construction
8,2175 MARKET ST,3543011,2013-08-27,CONSTRUCTION,2012-06-01,3,2013,88.0,88.0,201207205377,37.766286,-122.429913,Under Construction
9,2175 MARKET ST,3543011,2013-12-13,CONSTRUCTION,2012-06-01,4,2013,88.0,88.0,201207205377,37.766286,-122.429913,Under Construction
10,2175 MARKET ST,3543011,2014-03-26,CONSTRUCTION,2012-06-01,1,2014,88.0,88.0,201207205377,37.766286,-122.429913,Under Construction
11,2175 MARKET ST,3543011,2014-06-18,CONSTRUCTION,2012-06-01,2,2014,88.0,88.0,201207205377,37.766286,-122.429913,Under Construction

In [ ]:
# identify building permit ID. Then fill in rest of quarters with this permit ID.
building_permit=np.nan
for index, row in group_df.iterrows():
    if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
        building_permit=building_permit
    else:
        building_permit = row['dbi_permit']

In [ ]:
building_permit

In [ ]:
group_df['dbi_permit']=building_permit

In [ ]:
#Identify completion quarter
for index, row in group_df.iterrows():
    if row['best_stat'] !='CONSTRUCTION':
        comp_quarter= np.nan
        comp_year=np.nan
    elif row['best_stat'] == 'CONSTRUCTION':
        comp_quarter = row['report_quarter']
        comp_year = row['report_year']

if pd.isnull(comp_quarter):
    pass
if comp_quarter == 4 and comp_year == 2016:
    comp_quarter = np.nan
elif comp_quarter == 4:
    comp_quarter = 1
    comp_year = 1+comp_year
else:
    comp_quarter = 1+comp_quarter

In [ ]:
if comp_quarter ==1:
    comp_daymth= '01/01'
elif comp_quarter ==2:
    comp_daymth= '04/01'
elif comp_quarter==3:
    comp_daymth= '07/01'
elif comp_quarter == 4:
    comp_daymth= '10/01'
elif pd.isnull(comp_quarter):
    comp_daymth=np.nan
    
if pd.isnull(comp_daymth):
    comp_date = np.nan
else:
    comp_date = comp_daymth + "/" + str(comp_year)

In [ ]:
comp_date

In [ ]:
#Identify earliest "firstfiled" date
firstfiled = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['firstfiled']):
        continue
    else:
        if len(firstfiled) == 0:
            firstfiled = row['firstfiled']
        else:
            continue

In [ ]:
#Identify earliest best date
earliest_BD = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['best_date']):
        continue
    else:
        if len(earliest_BD) == 0:
            earliest_BD = row['best_date']
        else:
            continue

In [ ]:
firstfiled

In [ ]:
earliest_BD

In [ ]:
# Finalize first date variable (minimum of earliest best_date and firstfiled)
if firstfiled =='' and earliest_BD !='':
    first_date = earliest_BD
elif earliest_BD=='' and firstfiled !='':
    first_date = firstfiled
elif firstfiled !='' and earliest_BD !='':
    first_date = min(firstfiled, earliest_BD)

In [ ]:
first_date

In [ ]:
# initiate variables. Groups without these dates are blank for these variables.
BP_date = ''
con_date = ''

#Identify first date for all status categories
m=0
for index, row in group_df.iterrows():
    if m == 0:
        status_previous = 'blah'
    if row['status']=='Building Permit Approved':
        if index == 0:
            BP_date = row['best_date']
        elif index !=0:
            if status_previous =='Building Permit Approved':
                BP_date=BP_date
            else:
                BP_date = row['best_date']
    elif row['status']=='Under Construction':
        if index == 0:
            con_date = row['best_date']
        elif index !=0:
            if status_previous =='Under Construction':
                con_date=con_date
            else:
                con_date = row['best_date']
    status_previous = row['status']
    m=m+1

In [ ]:
print (BP_date, con_date)

In [ ]:
last_row = group_df.tail(1).copy() #most recent row

In [ ]:
last_row

In [ ]:
last_row['latest_project_record_date'] = last_row.best_date
last_row['first_project_record_date'] = group_df.iloc[0].best_date
last_row['latest_project_status'] = last_row.best_stat

In [ ]:
last_row

In [ ]:
## Store a parseable list of all the project states and the dates those states were reported
last_row['project_dates'] = str(tuple(group_df.best_date))
last_row['project_statuses'] = str(tuple(group_df.best_stat))

In [ ]:
last_row

In [ ]:
## Store the project duration in days
latest = last_row.latest_project_record_date.iloc[0]
first = last_row.first_project_record_date.iloc[0]

In [ ]:
if not (pd.isnull(latest) or pd.isnull(first)):
    last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

In [ ]:
last_row

# Actual Code

In [103]:
def convert_to_one_record_per_project(df):
    """
    Group the dataset by (apn, address) and then emit one row per (apn, address) pair.
    best_date and best_stat will be converted into arrays.
    All other attributes will be taken from the record with the most recent `best_date` attribute.
    """
    gb = df.groupby(['apn', 'address'])
    for k in gb.groups:
        group_df = gb.get_group(k)
        group_df = group_df.sort('best_date')
        last_row = group_df.tail(1).copy()
        
        # identify building permit ID. Then fill in rest of quarters with this permit ID.
        building_permit=np.nan
        for index, row in group_df.iterrows():
            if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
                building_permit=building_permit
            else:
                building_permit = row['dbi_permit']
                
        #Identify completion quarter for those projects that have reached completion
        for index, row in group_df.iterrows():
            if row['best_stat'] !='CONSTRUCTION':
                comp_quarter= np.nan
                comp_year=np.nan
            elif row['best_stat'] == 'CONSTRUCTION':
                comp_quarter = row['report_quarter']
                comp_year = row['report_year']

        if pd.isnull(comp_quarter):
            pass
        if comp_quarter == 1 and comp_year == 2016:
            comp_quarter = np.nan
        elif comp_quarter == 4:
            comp_quarter = 1
            comp_year = 1+comp_year
        else:
            comp_quarter = 1+comp_quarter
            
        if comp_quarter ==1:
            comp_daymth= '01/01'
        elif comp_quarter ==2:
            comp_daymth= '04/01'
        elif comp_quarter==3:
            comp_daymth= '07/01'
        elif comp_quarter == 4:
            comp_daymth= '10/01'
        elif pd.isnull(comp_quarter):
            comp_daymth=np.nan

        if pd.isnull(comp_daymth):
            comp_date = np.nan
        else:
            comp_date = comp_daymth + "/" + str(comp_year)
        
        #Identify earliest "firstfiled" date
        firstfiled = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['firstfiled']):
                continue
            else:
                if len(firstfiled) == 0:
                    firstfiled = row['firstfiled']
                else:
                    continue
        
        #Identify earliest best date
        earliest_BD = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['best_date']):
                continue
            else:
                if len(earliest_BD) == 0:
                    earliest_BD = row['best_date']
                else:
                    continue
        
        # Finalize first date variable (minimum of earliest best_date and firstfiled)
        if firstfiled =='' and earliest_BD !='':
            first_date = earliest_BD
        elif earliest_BD=='' and firstfiled !='':
            first_date = firstfiled
        elif firstfiled !='' and earliest_BD !='':
            first_date = min(firstfiled, earliest_BD)
            
        # initiate variables. Groups without these dates are blank for these variables.
        BP_date = ''
        con_date = ''

        #Identify first date for all status categories
        m=0
        for index, row in group_df.iterrows():
            if m == 0:
                status_previous = 'blah'
            if row['status']=='Building Permit Approved':
                if index == 0:
                    BP_date = row['best_date']
                elif index !=0:
                    if status_previous =='Building Permit Approved':
                        BP_date=BP_date
                    else:
                        BP_date = row['best_date']
            elif row['status']=='Under Construction':
                if index == 0:
                    con_date = row['best_date']
                elif index !=0:
                    if status_previous =='Under Construction':
                        con_date=con_date
                    else:
                        con_date = row['best_date']
            status_previous = row['status']
            m=m+1
        
        last_row['dbi_permit']= building_permit
        last_row['comp_date']=comp_date
        last_row['BP_date'] = BP_date
        last_row['con_date'] = con_date
        last_row['first_date']=first_date
        last_row['latest_project_record_date'] = last_row.best_date
        last_row['first_project_record_date'] = group_df.iloc[0].best_date
        last_row['latest_project_status'] = last_row.best_stat

        ## Store a parseable list of all the project states and the dates those states were reported
        last_row['project_dates'] = str(tuple(group_df.best_date))
        last_row['project_statuses'] = str(tuple(group_df.best_stat))

        ## Store the project duration in days
        if not (pd.isnull(comp_date) or pd.isnull(first_date)):
            last_row['project_duration_days'] = (dateutil.parser.parse(comp_date) - dateutil.parser.parse(first_date)).days

        yield last_row


def main():
    df = pd.read_csv("cleaned/all_quarters_merged.csv")
    #consolidate status categories. Start with 3 for now
    def status_function(value):
        if value['best_stat']=="CONSTRUCTION":
            field = 'Under Construction'
        elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
            field = 'Building Permit Approved'
        else:
            field = 'Proposed'
        return field

    df['status']=df.apply(status_function, axis=1)
    
    #keep only variables we want
    list = ['address', 'apn', 'best_date', 'best_stat','status', 'firstfiled', 'report_quarter', 'report_year','units','unitsnet', 'dbi_permit', 'x', 'y']
    df = df[list]
    new_df = pd.concat(convert_to_one_record_per_project(df))
    logging.info("Writing output ({} rows, {} cols) to data/cleaned/all_quarters__one_record_per_project.csv".format(*new_df.shape))
    new_df.to_csv("cleaned/all_quarters__one_record_per_project.csv")
    return new_df

In [104]:
new_df = main()

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (1,2,6,8,12,13,16,17,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,47,48,52,53,55,60,62,63,64,65,66,67,68,69,71,75,78,79,80,81,83,84,85,86,87,88,89,90,91,96,99,100,101,102,103,105,106,107,108,109,113,120,123,125,126,127,128,129) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [6]:
#First, filter out those projects that are exclusively non-residential (defined as those without units)
new_df = new_df[new_df['units'] > 0]

In [7]:
#Next, keep only those that reached completion at some point over the time period
new_df=new_df[pd.notnull(new_df['comp_date'])]

# Explore Duplicate Data

In [8]:
#Finally, filter out records with duplicate BP Ids
new_df[new_df.duplicated('dbi_permit', keep=False)]['address'].unique()

array(['1420 MISSION ST', 'HP SHIPYARD PHASE 1 (UNDER CONSTRUCTION)',
       '233 - 237 SHIPLEY ST', '2101 & 2155 WEBSTER STREET',
       '1400 07TH ST', '690 MONTEREY BL',
       '5 SHIPLEY ST / 935 FOLSOM ST / 77 FALMOUTH ST', '4 OCTAVIA ST',
       'HUNTERS POINT SHIPYARD PHASE I', '650 INDIANA ST (BLDG 2 OF 2)',
       '233-237 SHIPLEY ST', '4132 03RD ST', '1000 16TH ST',
       '1078 HAMPSHIRE ST', '800 BROTHERHOOD', '1169 MARKET ST',
       '8 OCTAVIA ST', '447 - 453 LINDEN ST', '650 INDIANA ST',
       '55 LAGUNA STREET', 'PARCEL F', '1490 OCEAN AV', '55 LAGUNA ST',
       '1400 MISSION ST', '218 BUCHANAN ST', '57 TEHAMA ST',
       '55 LAGUNA ST (BLDG 2)', '344 - 388 FULTON ST', '690 MONTEREY BLVD',
       '1446 OCEAN AV', '800 BROTHERHOOD WAY', '1239 TURK ST',
       '1100 GOLDEN GATE AV', '2155 WEBSTER ST', '4132 THIRD STREET',
       '1190 MISSION ST', '41 TEHAMA ST', '447 LINDEN ST',
       '1076 HAMPSHIRE ST', '236 - 238 SHIPLEY ST / 77 FALMOUTH ST'], dtype=object)

In [50]:
#explore duplicated
new_df[new_df['address']=='55 LAGUNA STREET']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
12071,,55 LAGUNA STREET,0857001,2015-10-30,CONSTRUCTION,10/01/2015,2014-06-26,201209059006,2006-10-31 08:00:00,2008-01-17,2006-10-31,2015-10-30,CONSTRUCTION,"('2008-01-17', '2008-01-17', '2008-01-17', '20...",3256.0,"('PL APPROVED', 'PL APPROVED', 'PL APPROVED', ...",3,2015,Under Construction,450.0,450.0,37.77235,-122.426279

In [51]:
# Same project, different address-apn combinationverified by looking at each address in PIM
new_df[new_df['dbi_permit']=='201209059006']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
12071,,55 LAGUNA STREET,0857001,2015-10-30,CONSTRUCTION,10/01/2015,2014-06-26,201209059006,2006-10-31 08:00:00,2008-01-17,2006-10-31,2015-10-30,CONSTRUCTION,"('2008-01-17', '2008-01-17', '2008-01-17', '20...",3256.0,"('PL APPROVED', 'PL APPROVED', 'PL APPROVED', ...",3,2015,Under Construction,450.0,450.0,37.77235,-122.426279
9055,2013-06-11,218 BUCHANAN ST,0857001A,2015-03-19,CONSTRUCTION,01/01/2015,2013-08-07,201209059006,2012-09-05,2012-09-05,NaN,2015-03-19,CONSTRUCTION,"('2012-09-05', '2012-09-05', '2012-09-05', '20...",848.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP APPRO...",4,2014,Under Construction,191.0,191.0,37.77235,-122.426279

In [22]:
#explore duplicated
new_df[new_df['address']=='2155 WEBSTER ST']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
9106,,2155 WEBSTER ST,0629037,2015-03-18,CONSTRUCTION,01/01/2015,2015-03-18,201311222660,2013-11-22,2013-11-22,NaN,2015-03-18,CONSTRUCTION,"('2013-11-22', '2013-11-22', '2013-11-22', '20...",405.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",4,2014,Under Construction,77.0,77.0,37.79057,-122.432337

In [41]:
new_df[new_df['dbi_permit']=='200705010136']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
11114,,72 TOWNSEND ST,3789972,2015-07-21,CONSTRUCTION,07/01/2015,2015-07-21,200705010136,2015-07-21,2015-07-21,NaN,2015-07-21,CONSTRUCTION,"('2015-07-21',)",-20.0,"('CONSTRUCTION',)",2,2015,Under Construction,74.0,74.0,37.781388,-122.390353

In [36]:
new_df[new_df['project_duration_days']<0]

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
11114,,72 TOWNSEND ST,3789972,2015-07-21,CONSTRUCTION,07/01/2015,2015-07-21,200705010136,2015-07-21,2015-07-21,NaN,2015-07-21,CONSTRUCTION,"('2015-07-21',)",-20.0,"('CONSTRUCTION',)",2,2015,Under Construction,74.0,74.0,37.781388,-122.390353

# Manual Data Cleaning
Based off of identified duplicates in the previous section