# Produces dataset of project times from appended pipeline datasets ("all_quarters_merged.csv")

In [131]:
import pandas as pd
import logging
import dateutil
from dateutil import parser
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 500)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [132]:
logging.basicConfig(level=logging.INFO)

# Code Broken Down

In [127]:
df = pd.read_csv("cleaned/all_quarters_merged.csv")

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,2,6,8,12,13,16,17,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,46,48,49,52,53,54,56,61,63,64,65,66,67,68,69,70,72,76,79,80,81,82,83,85,86,87,88,89,90,91,92,93,94,95,100,102,104,105,106,107,108,110,111,112,113,114,117,119,126,129,131,132,133,134,135,136) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [128]:
# keep only variables of interest
list = ['address', 'apn', 'best_date', 'best_stat','firstfiled', 'report_quarter', 'report_year', 'units', 'unitsnet', 'dbi_permit', 'x', 'y']
df = df[list]

In [129]:
df[df['address']=='1 HAWTHORNE ST']

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,units,unitsnet,dbi_permit,x,y
541,1 HAWTHORNE ST,3735047,2009-09-28,CONSTRUCTION,2005-01-24,3,2009,135.00,135.00,200509082369,-122.40,37.79
1341,1 HAWTHORNE ST,3735047,2009-12-09,CONSTRUCTION,2005-01-24,4,2009,135.00,nan,200509082369,-122.40,37.79

In [130]:
df[df['address']=='238 MISSOURI ST']

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,units,unitsnet,dbi_permit,x,y
13978,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,4,2013,3.00,1.00,201310038371,37.76,-122.40
15081,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,1,2014,3.00,1.00,201310038371,37.76,-122.40
15948,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,2,2014,3.00,1.00,201310038371,37.76,-122.40
16755,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,3,2014,3.00,1.00,201310038371.00,37.76,-122.40
17328,238 MISSOURI ST,4003006,2014-11-05,BP ISSUED,NaN,4,2014,3.00,1.00,201310038371.00,37.76,-122.40
18798,238 MISSOURI ST,4003006,2014-11-05,BP ISSUED,NaN,1,2015,3.00,1.00,201310038371.00,37.76,-122.40
19861,238 MISSOURI ST,4003006,2015-07-09,CONSTRUCTION,NaN,2,2015,3.00,1.00,201310038371.00,37.76,-122.40
21007,238 MISSOURI ST,4003006,2015-10-30,CONSTRUCTION,2013-10-03,3,2015,3.00,1.00,201310038371.00,37.76,-122.40
22300,238 MISSOURI ST,4003006,2016-01-14,CONSTRUCTION,2013-10-03,4,2015,3.00,1.00,201310038371.00,37.76,-122.40
23102,238 MISSOURI ST,4003006,2016-03-18,CONSTRUCTION,2013-10-03,1,2016,3.00,1.00,201310038371.00,37.76,-122.40
24413,238 MISSOURI ST,4003006,2016-04-26,CONSTRUCTION,2013-10-03,2,2016,3.00,1.00,201310038371.00,37.76,-122.40
25646,238 MISSOURI ST,4003006,2016-04-26,CONSTRUCTION,2013-10-03,3,2016,3.00,1.00,201310038371,37.76,-122.40

In [97]:
#consolidate status categories. Start with 3 for now
def status_function(value):
    if value['best_stat']=="CONSTRUCTION":
        field = 'Under Construction'
    elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
        field = 'Building Permit Approved'
    else:
        field = 'Proposed'
    return field
        
df['status']=df.apply(status_function, axis=1)

In [7]:
gb = df.groupby(['apn', 'address'])

In [8]:
gb.groups

{('5869014',
  '4199 MISSION ST'): Int64Index([  710,  1489,  2481,  2729,  3888,  4514,  5656,  6166,  6915,
              7965,  8672,  9281,  9826, 10581, 11291, 12446, 12583],
            dtype='int64'),
 ('5577005',
  '15 JOY ST'): Int64Index([19729, 20899, 22105, 22777, 24085, 25349, 26699], dtype='int64'),
 ('2692007',
  '150 EUREKA ST'): Int64Index([20387, 21625, 22830, 24086, 25351, 26702, 28258], dtype='int64'),
 ('4224035',
  '1047 TEXAS ST'): Int64Index([405, 1402, 2097, 2812, 3809, 4840, 5270, 6115], dtype='int64'),
 ('0534030', '2261 FILBERT ST'): Int64Index([28501], dtype='int64'),
 ('0150054',
  '1000 - 1020 BROADWAY (BLDG 1 OF 3)'): Int64Index([23849, 26461, 27895], dtype='int64'),
 ('3731021',
  '1052 - 1060 FOLSOM ST & 190 - 194 RUSS ST'): Int64Index([29354], dtype='int64'),
 ('2402018', '2478 24TH AV'): Int64Index([21], dtype='int64'),
 ('3196028',
  '1532 OCEAN AV'): Int64Index([16911, 17222, 18029, 19204, 20354, 21570, 22857, 24117, 25380,
             26731, 28173],
            dtype='int64'),
 ('0473017', '1255 BAY ST'): Int64Index([23971, 25232, 26756], dtype='int64'),
 ('4003006',
  '238 MISSOURI ST'): Int64Index([13978, 15081, 15948, 16755, 17328, 18798, 19861, 21007, 22300,
             23102, 24413, 25646],
            dtype='int64'),
 ('3786018',
  '85 BLUXOME ST'): Int64Index([12524, 13189, 14122, 14937, 15800, 16621, 17890, 18905, 19941,
             21169, 22465, 23693, 25040, 26323],
            dtype='int64'),
 ('8715004',
  'MISSION BAY BLOCK 1 (RESIDENTIAL) 03RD'): Int64Index([25128, 26421, 27856, 29286], dtype='int64'),
 ('7147050',
  '177 SAGAMORE ST'): Int64Index([15135, 15642, 16851, 17834, 18319, 19814, 20949, 22309, 22941,
             24199, 25460, 26877, 28039],
            dtype='int64'),
 ('3608023',
  '3374 - 3376 21ST ST'): Int64Index([24602, 25848, 27283, 28700], dtype='int64'),
 ('0279011',
  '1080 SUTTER ST'): Int64Index([  818,   953,  2371,  2667,  3381,  4179,  5606,  5778,  6576,
              7509,  8618,  9052,  9514, 10294, 10985, 12386, 13351, 13462,
             14501],
            dtype='int64'),
 ('6250036',
  '101 LELAND AV'): Int64Index([  346,  1515,  2047,  2834,  3910,  4537,  5231,  6189,  6936,
              7573,  8237,  9278,  9850, 10599, 11353, 11965, 12820, 13736,
             14455, 15483, 16989, 19289, 20453, 21360, 22551, 23856, 26469],
            dtype='int64'),
 ('3763101', '653 HARRISON ST'): Int64Index([27644], dtype='int64'),
 ('4152046',
  '1078 HAMPSHIRE ST'): Int64Index([13295, 13951, 14920, 15908, 16715, 17467, 18703], dtype='int64'),
 ('7107023',
  '188 BROAD ST'): Int64Index([ 8767, 10105, 10902, 11633, 12317, 13095, 14044, 14865, 15733,
             16530, 17643, 18858, 19129, 20717, 21368, 22967, 24230, 25496,
             26913],
            dtype='int64'),
 ('3558029',
  '253 SANCHEZ ST'): Int64Index([10954, 11682, 12102, 13132, 14084, 14901, 15765, 16558], dtype='int64'),
 ('5000001',
  '490 JAMESTOWN AV (BLDG 8)'): Int64Index([23829, 24794, 26049], dtype='int64'),
 ('0570010',
  '1622 BROADWAY'): Int64Index([8598, 9137, 10315, 11006, 12369, 13371, 13477, 14517, 15213,
             16105],
            dtype='int64'),
 ('3521056',
  '1532 HARRISON ST'): Int64Index([22855, 24115, 25378, 26729, 28171], dtype='int64'),
 ('3631019', '977 DOLORES ST'): Int64Index([167], dtype='int64'),
 ('3735047', '1 HAWTHORNE ST'): Int64Index([541, 1341], dtype='int64'),
 ('6793009',
  '1790 SAN JOSE AV'): Int64Index([24204, 25467, 26882, 28293], dtype='int64'),
 ('0834017',
  '149 FELL ST'): Int64Index([233, 1031, 1956, 2890, 3474, 4715, 5162, 5835, 11028, 11914,
             13393],
            dtype='int64'),
 ('4755048',
  '903 PALOU AV'): Int64Index([175, 1417, 1906, 3313], dtype='int64'),
 ('6551003', '1266 DOLORES ST'): Int64Index([1534], dtype='int64'),
 ('4271018', '2999 HARRISON ST'): Int64Index([28628], dtype='int64'),
 ('6321012',
  '31 PASADENA ST'): Int64Index([23238, 24552, 25798, 27234, 28649], dtype='int64'),
 ('0808039',
  '450 HAYES STREET'): Int64Index([10143, 10934, 11663, 12094, 13116, 14069, 14890, 15753, 16547,
             17138, 18487, 19042, 20245],
            dtype='int64'),
 ('7100017',
  '42 FARRAGUT AV'): Int64Index([23387, 24712, 25970, 27400, 28788], dtype='int64'),
 ('2829010',
  '4376 24TH ST'): Int64Index([11715, 12126, 13165, 13946, 14782, 15781, 16599, 17802, 18865,
             19509, 20594, 21819, 23408, 24730, 25989, 27422, 28811],
            dtype='int64'),
 ('0149010',
  '908 BROADWAY'): Int64Index([15671, 16855, 17276, 18045, 19240, 20389, 21616, 23725, 25074,
             26356, 27796, 29217],
            dtype='int64'),
 ('5339007',
  '5075 3RD ST'): Int64Index([1673, 2188, 3333, 4071, 4645, 5115, 6534, 7077, 7863, 8517, 9025,
             9919, 10687],
            dtype='int64'),
 ('5305001',
  '1701 MCKINNON AVE'): Int64Index([18785, 19616, 22206], dtype='int64'),
 ('0028006E',
  '2624 LEAVENWORTH ST'): Int64Index([20890, 22236, 23153, 24467, 25710, 27162, 28578], dtype='int64'),
 ('3534058',
  '1965 MARKET ST'): Int64Index([22786, 24255, 25491, 26937, 28398], dtype='int64'),
 ('2317016G',
  '2130 SANTIAGO ST'): Int64Index([19785, 20915, 21391, 23029, 24338, 25568, 27000, 28307], dtype='int64'),
 ('4040024',
  '355 PENNSYLVANIA AV'): Int64Index([24639, 25892, 27320, 28063], dtype='int64'),
 ('3747012',
  '325 FREMONT ST'): Int64Index([   35,  1321,  1783,  2630,  3727,  4829,  4961,  6033,  7158,
              7420,  8012,  9422,  9742, 10487, 11224, 12519, 12643, 13623,
             14352, 15345, 16231, 17078, 17956, 18987, 20126, 21331, 23262,
             24577, 25823, 27263, 28678],
            dtype='int64'),
 ('7092014',
  '220 LOBOS ST'): Int64Index([24356, 25587, 27026, 28477], dtype='int64'),
 ('4991075',
  'EXECUTIVE PARK - YERBY CO'): Int64Index([27846, 28864], dtype='int64'),
 ('1450007',
  '339 18TH AV'): Int64Index([  437,  1088,  2119,  2883,  3520,  4267,  5148,  5870,  6659,
              7611,  8185,  9446,  9618, 10368, 11097, 11901, 13415, 13509,
             14545, 15242, 16133, 17482, 18133, 20540, 21790],
            dtype='int64'),
 ('5281003',
  '901 RANKIN ST'): Int64Index([12153, 13224, 14157, 14976, 15835, 16655], dtype='int64'),
 ('4884026', 'HOPE SF ALICE GRIFFITH'): Int64Index([29274], dtype='int64'),
 ('0342001',
  '950 - 974 MARKET ST'): Int64Index([25100, 26384, 27822, 29246], dtype='int64'),
 ('3581012',
  '466 SANCHEZ ST'): Int64Index([  482,  1641,  1919,  3256,  4055,  4904,  5101,  6298,  7048,
              7764,  8122,  9079,  9903, 10670, 11067, 12248],
            dtype='int64'),
 ('2473018',
  '2689 23RD AV'): Int64Index([19735, 20914, 22170, 23166, 24479, 25724, 27179, 28563], dtype='int64'),
 ('0331002', '149 MASON ST'): Int64Index([688, 4190, 5545], dtype='int64'),
 ('7104049',
  '107 LOBOS ST'): Int64Index([589, 1585, 2287, 3178, 3970, 4573, 5458, 6234, 6981, 7459, 8461,
             9331, 10203],
            dtype='int64'),
 ('1153020',
  '1823 TURK ST'): Int64Index([14266, 15096, 15963, 16769, 17252, 18545, 19211, 20359, 21583,
             22956],
            dtype='int64'),
 ('6090004',
  '524 VIENNA ST'): Int64Index([ 4922,  5378,  6382,  7219,  7669,  8345,  8916, 10229, 10796,
             11517, 11854, 12988, 13897, 14748, 15613, 16454, 17796, 18867],
            dtype='int64'),
 ('4010006',
  '575 VERMONT ST'): Int64Index([  814,  1388,  2367,  3231,  3786,  4411,  5549,  6092,  6849,
              7497,  8567,  9353,  9784, 10528, 11272, 12342, 12745],
            dtype='int64'),
 ('1152017',
  '1870 GOLDEN GATE AV'): Int64Index([  379,  1065,  2074,  2797,  3503,  4251,  5252,  5856,  6647,
              7588,  8255,  9221, 10159, 10359, 11016, 12220, 13408, 13503,
             14539],
            dtype='int64'),
 ('4938026A', '1115 FITZGERALD AV'): Int64Index([26742, 27945], dtype='int64'),
 ('4045006', '2121 3RD STREET'): Int64Index([802, 1724, 2465], dtype='int64'),
 ('0691001', '1145 POLK STREET'): Int64Index([20226], dtype='int64'),
 ('0191008A',
  '1030 WASHINGTON ST'): Int64Index([20021, 21235, 22427, 22562, 23863, 26476, 27908, 29344], dtype='int64'),
 ('0194009',
  '740 WASHINGTON ST'): Int64Index([  822,   919,  2477,  2711,  3353,  4149,  5652,  5752,  6554,
              7525,  8668,  9301,  9491, 16068, 17173, 17999, 19083, 20294,
             21508, 23640, 24983, 26260, 27685, 29103],
            dtype='int64'),
 ('3180001',
  '50 PHELAN AV'): Int64Index([ 1224,  2547,  2642,  3649,  4784,  5617,  5960,  6744,  7307,
              8632,  9000,  9690, 10249, 11169, 12396, 12592, 13573, 14587,
             15330, 16185],
            dtype='int64'),
 ('3738004',
  'TRANSBAY BLOCK 7'): Int64Index([21358, 23798, 25152, 26445, 27878, 29308], dtype='int64'),
 ('3726075',
  '574 NATOMA ST'): Int64Index([  460,  1318,  2136,  2735,  3724,  4826,  5295,  6030,  7156,
              7618,  8288,  9116,  9738, 10482, 11218, 12008, 12639, 13619,
             14348, 15373, 16227],
            dtype='int64'),
 ('1534003', '423 10TH AV'): Int64Index([28793], dtype='int64'),
 ('5312049',
  '1710 OAKDALE AV'): Int64Index([ 3120,  4004,  4884,  5355,  6269,  7003,  7657,  8336,  8962,
              9986, 10765, 11492, 12045, 12835, 13874, 14727, 15555, 16434,
             17677, 18154, 19121, 20700, 22004, 22922, 24181, 25441, 26856,
             28217],
            dtype='int64'),
 ('1706045',
  '4335 LINCOLN WY'): Int64Index([ 4018,  4599,  5368,  6512,  7015,  7993,  8719,  8928,  9993,
             10771, 11497, 12472, 12869, 13781, 14732, 15595, 16436, 17517,
             18156, 19099, 20683, 22024],
            dtype='int64'),
 ('0627006',
  '2224 SACRAMENTO ST'): Int64Index([16930, 17689, 18146, 19927], dtype='int64'),
 ('0596031',
  '1533 PACIFIC AV'): Int64Index([  500,  1753,  2180,  3183,  3429,  4636,  5320,  6525,  7068,
              7580,  8311,  9035, 10216, 10445, 11424, 12027, 12908, 13815,
             14672, 15530, 16370],
            dtype='int64'),
 ('0811010',
  '200 - 204 VAN NESS AV'): Int64Index([24273, 25540, 26952, 28414], dtype='int64'),
 ('3526005',
  '520 9TH STREET'): Int64Index([13257, 14199, 15013, 15872, 16692], dtype='int64'),
 ('3719010',
  '181 FREMONT ST'): Int64Index([  826,  1310,  2480,  2599,  3716,  4818,  5654,  6022,  7150,
              7281,  8671,  9283, 10175, 11213, 11964, 12634, 13615, 14344,
             15369, 16221, 17071, 18505, 19115, 20210, 21420, 22953, 24213,
             25477, 26896, 28357],
            dtype='int64'),
 ('6593022',
  '1513 - 1517 CHURCH ST'): Int64Index([22007, 22831, 24100, 25362, 26715, 28265], dtype='int64'),
 ('0340002',
  '19-25 MASON ST & 2-16 TURK ST'): Int64Index([10110, 17070, 18428, 18995, 20133], dtype='int64'),
 ('1805037A',
  '1434 LA PLAYA *'): Int64Index([ 4608,  5141,  6273,  7024,  7808,  8159,  8890, 10005, 10695,
             11505, 11858, 12975, 13887, 14741, 15604, 16445],
            dtype='int64'),
 ('3730004',
  '230 07TH ST'): Int64Index([16941, 17134, 17982, 19039, 20240, 21455, 23079, 24387, 25616,
             27033, 28043],
            dtype='int64'),
 ('6090015', '599 NAPLES ST'): Int64Index([655], dtype='int64'),
 ('3651017',
  '3820 24TH STREET'): Int64Index([10115, 10913, 11645, 12095, 13106, 14054, 14874, 15742, 16539,
             17294, 18530, 19250, 20423],
            dtype='int64'),
 ('1732037',
  '1236 19TH AV'): Int64Index([15131, 15998, 16814, 17336, 18111, 19343, 20485, 21741, 22658,
             23959, 25183, 26602, 27994],
            dtype='int64'),
 ('5521015',
  '44 AZTEC ST'): Int64Index([19719, 20904, 22203, 23322, 24732, 25991, 27378, 28814], dtype='int64'),
 ('2393042',
  '2239 TARAVAL ST'): Int64Index([ 1698,  2178,  2852,  4122,  4941,  5319,  6541,  7262,  7795,
              8129,  9037,  9948, 10715, 11447, 12257, 12677],
            dtype='int64'),
 ('1294027',
  '1560 SHRADER ST'): Int64Index([443, 1077, 2125, 2981, 3511, 4259, 5494], dtype='int64'),
 ('5968011', '462 CAMBRIDGE ST'): Int64Index([20588, 21865], dtype='int64'),
 ('3749059',
  '45 LANSING ST'): Int64Index([ 1350,  1806,  2580,  3755,  4381,  5147,  6060,  6822,  7384,
              8184,  9449,  9764, 10495, 11245, 11739, 12716, 13648, 14373,
             15268, 16975, 17045, 18458, 18950],
            dtype='int64'),
 ('2691019',
  '72 CASELLI AV'): Int64Index([16904, 17401, 18839, 19899, 21116, 22329, 23631, 24971], dtype='int64'),
 ('3577033', '523 GUERRERO ST'): Int64Index([24824, 26086], dtype='int64'),
 ('0836007',
  '1546 - 1564 MARKET ST'): Int64Index([21339, 22863, 24122, 25386, 26735, 28177], dtype='int64'),
 ('3533042', '138 - 140 CLINTON PARK'): Int64Index([28246], dtype='int64'),
 ('5503022',
  '3179 CESAR CHAVEZ ST'): Int64Index([24562, 25809, 27249, 28665], dtype='int64'),
 ('4045003',
  '2171 THIRD ST'): Int64Index([12176, 13202, 14135, 14940, 15814, 16634, 17086, 17965, 18998], dtype='int64'),
 ('1596009',
  '747 48TH AV'): Int64Index([24984, 26262, 27688, 29106], dtype='int64'),
 ('3638041', '840 - 844 SHOTWELL ST'): Int64Index([29181], dtype='int64'),
 ('5297023',
  '1786 MCKINNON AV'): Int64Index([8394, 8808, 10073, 10871, 11590, 12307, 13067], dtype='int64'),
 ('8715004', '100 CHANNEL'): Int64Index([21071], dtype='int64'),
 ('3995022',
  '595 MARIPOSA ST'): Int64Index([19091, 20136, 21514, 23542, 24885, 26158, 27588, 29001], dtype='int64'),
 ('6943040',
  '1172 PLYMOUTH AV'): Int64Index([17012, 17661, 18711], dtype='int64'),
 ('1784001O', '1369 29TH AV'): Int64Index([24034, 25295], dtype='int64'),
 ('3732071',
  '468 CLEMENTINA ST'): Int64Index([  244,  1337,  1966,  2682,  3746,  4372,  5169,  6051, 11237,
             11921, 12707, 13640, 14366, 15386, 16969, 17171, 18489, 19080,
             20289, 21502, 23438, 24769],
            dtype='int64'),
 ('3596059',
  '263 LEXINGTON ST'): Int64Index([12168, 13187, 14120, 14935], dtype='int64'),
 ('6482034', '61 ROYAL LANE'): Int64Index([26179, 27602], dtype='int64'),
 ('3732003',
  '909 - 921 HOWARD ST & 206 5TH ST'): Int64Index([23726], dtype='int64'),
 ('4710084',
  '144 CASHMERE ST'): Int64Index([22389, 22747, 24056, 25315, 26678, 28126], dtype='int64'),
 ('2058009J',
  '1822 22ND AV'): Int64Index([16897, 17641, 18272, 19905, 21120, 22320, 22955, 24217, 25482], dtype='int64'),
 ('2716037',
  '123 YUKON ST'): Int64Index([22003, 22653, 23954, 25178], dtype='int64'),
 ('0595002',
  '1600 JACKSON ST'): Int64Index([24142, 25397, 26813, 28191], dtype='int64'),
 ('4335003I', '2887 BRYANT ST'): Int64Index([18390, 20008], dtype='int64'),
 ('5000001',
  '490 JAMESTOWN AV (BLDG 4)'): Int64Index([23461, 24790, 26045], dtype='int64'),
 ('0645003',
  '1335 LARKIN ST'): Int64Index([12690, 14169, 14984, 15844, 16663, 17184, 18003, 19089, 20134,
             21517, 22710, 24016, 25276, 26637, 28089],
            dtype='int64'),
 ('0808019',
  '550 OCTAVIA ST'): Int64Index([24861, 26118, 27542, 28961], dtype='int64'),
 ('3808004',
  '188 HOOPER ST'): Int64Index([24231, 25497, 26914, 28374], dtype='int64'),
 ('0647007',
  '1634-1690 PINE ST'): Int64Index([14221, 15065, 15933, 16740, 17052, 17938, 18958, 20094], dtype='int64'),
 ('4217006', '1250 DE HARO ST'): Int64Index([742, 1395, 2413], dtype='int64'),
 ('4757014',
  '1187 PALOU AV'): Int64Index([21815, 22630, 23929, 26540, 26573, 27972], dtype='int64'),
 ('3722367', '151 03RD ST'): Int64Index([18889, 21206, 22420], dtype='int64'),
 ('1686033',
  '834 44TH AV'): Int64Index([538, 4288, 5436, 5908, 12546, 18760], dtype='int64'),
 ('5613064',
  '2 BONVIEW ST'): Int64Index([22982, 24266, 25534, 26947, 28410], dtype='int64'),
 ('3702391',
  'TRINITY PLAZA PHASE IV'): Int64Index([18369, 20086], dtype='int64'),
 ('6580036',
  '4041 CESAR CHAVEZ ST'): Int64Index([25951, 27376], dtype='int64'),
 ('1577001A',
  '607 34TH AV'): Int64Index([18262, 19641, 20805, 22212, 23564, 24903, 26176, 27599, 29016], dtype='int64'),
 ('5859033',
  '228 SWEENY ST'): Int64Index([ 2986,  4138,  4704,  5626,  6431,  7277,  7953,  8641,  8967,
              9971, 10752, 11481, 12403, 12954, 13864, 14717],
            dtype='int64'),
 ('3703086',
  '570 JESSIE ST'): Int64Index([  269,  1300,  1988,  2653,  3707,  4356,  5184,  6013,  6794,
              7565,  8193,  9396,  9731, 11133, 11933, 12626, 13607, 14337,
             15360, 16215, 17131, 18509, 19035, 20235, 21451, 23527, 24314,
             26136, 27564, 28976],
            dtype='int64'),
 ('6604038',
  '647 DUNCAN ST'): Int64Index([16917, 17814, 17945, 19887, 21042, 22252, 23595, 24932, 26211,
             27636, 29054],
            dtype='int64'),
 ('3568027', '108 ALBION ST'): Int64Index([27930, 29369], dtype='int64'),
 ('0857002',
  '55 LAGUNA ST (AFF SENIOR HOUSING)'): Int64Index([27539], dtype='int64'),
 ('8722001',
  'CHASE CENTER (RECREATION)'): Int64Index([24322, 26411, 27943, 28861], dtype='int64'),
 ('3740027',
  'SPEAR STREET AND FOLSOM ST'): Int64Index([831, 1348, 2485, 2621, 3753, 4379, 5657, 6058, 6821, 7527, 8676,
             9271, 9762],
            dtype='int64'),
 ('1731014',
  '1269 19TH AV'): Int64Index([8397, 8804, 10059, 10847, 11584, 12309, 13048], dtype='int64'),
 ('2421037', '2558 21ST AV'): Int64Index([28562], dtype='int64'),
 ('6774012',
  '2 FLOOD AV'): Int64Index([11730, 12144, 13179, 13826, 14927, 15562, 16613, 17777, 18852], dtype='int64'),
 ('3728032',
  '727 - 731 NATOMA ST'): Int64Index([23638, 24977, 26254, 27679, 29096], dtype='int64'),
 ('0642003',
  '1625 VAN NESS AV'): Int64Index([8001, 8734, 8825, 9938, 10707, 11576, 12479, 13041, 13992, 14803,
             15651, 16491],
            dtype='int64'),
 ('3553052',
  '1979 MISSION ST'): Int64Index([14275, 15105, 15972, 16778, 17042, 17932, 18949, 20084, 21276,
             22791, 24259, 25526, 26940, 28402],
            dtype='int64'),
 ('0441B005', '3561 PIERCE ST'): Int64Index([28066], dtype='int64'),
 ('3642027',
  '2751 MISSION ST'): Int64Index([249, 1297, 1970, 2771, 3705, 4355, 5172, 6012, 11204, 11923,
             12624],
            dtype='int64'),
 ('4107001B',
  '950 TENNESSEE ST'): Int64Index([21342, 23753, 25103, 26386, 27825, 29249], dtype='int64'),
 ('1402023',
  '3038 CLEMENT ST'): Int64Index([10952, 11691, 12118, 13142, 14093, 14910, 15660, 16563, 17262,
             18607, 19223, 20367, 21595, 23233],
            dtype='int64'),
 ('2402034',
  '1349 TARAVAL ST'): Int64Index([20607, 22060, 22714, 24020, 25282, 26642, 28094], dtype='int64'),
 ('0103021',
  '146 JASPER PLACE'): Int64Index([12536, 13199, 14132, 14820, 15811, 16631], dtype='int64'),
 ('8724001',
  '1825 OWENS STREET'): Int64Index([14217, 15126, 15993, 16809, 17882, 18473, 20020], dtype='int64'),
 ('6655030',
  '176 RANDALL ST'): Int64Index([  392,  1553,  2085,  3164,  3943,  4847,  5257,  6210,  6961,
              7593,  8258,  9206, 10200, 10619, 11378, 11982, 12848, 13765,
             14469, 15489, 16999, 17636, 18547, 19502, 20772, 21963, 22937,
             24195, 25455, 26874, 28037],
            dtype='int64'),
 ('5826006',
  '122 BACHE ST'): Int64Index([225, 1483, 1951, 2899, 3882, 4509, 5159, 6162, 11333, 11910,
             12664],
            dtype='int64'),
 ('4008003',
  '580 DE HARO ST'): Int64Index([21684, 23534, 24877, 26143, 26144, 26146, 26147, 26148, 26149,
             26150, 28983, 28984, 28985, 28986, 28987, 28988, 28989],
            dtype='int64'),
 ('1460024',
  '411 28TH AV'): Int64Index([  417,  1095,  2103,  3038,  3527,  4272,  5275,  5874,  6663,
              7602,  8272,  9170, 10157, 10357, 11099, 11992, 13418, 13513,
             14296, 15246, 16137, 17653, 18178],
            dtype='int64'),
 ('4761039',
  '1380 REVERE AV'): Int64Index([21804, 22730, 24039, 25301, 26659, 28248], dtype='int64'),
 ('5926022',
  '165 BRUSSELS ST'): Int64Index([13299, 13954, 15039, 15911, 16718, 17706], dtype='int64'),
 ('7081B001',
  '1101 JUNIPERO SERRA BL'): Int64Index([860, 6230], dtype='int64'),
 ('6075005',
  '439 ATHENS ST'): Int64Index([21913, 23409, 24731, 25990, 27423, 28812], dtype='int64'),
 ('4094035', '2124 22ND ST'): Int64Index([26997, 28455], dtype='int64'),
 ('3642062',

In [122]:
group_df = gb.get_group(('4003006','238 MISSOURI ST'))

In [123]:
group_df = group_df.sort('best_date')
group_df.reset_index(drop=True, inplace=True)

/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [124]:
group_df

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,units,unitsnet,dbi_permit,x,y,status
0,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,4,2013,3.00,1.00,201310038371,37.76,-122.40,Proposed
1,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,1,2014,3.00,1.00,201310038371,37.76,-122.40,Proposed
2,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,2,2014,3.00,1.00,201310038371,37.76,-122.40,Proposed
3,238 MISSOURI ST,4003006,2013-10-03,BP FILED,2013-10-03,3,2014,3.00,1.00,201310038371.00,37.76,-122.40,Proposed
4,238 MISSOURI ST,4003006,2014-11-05,BP ISSUED,NaN,4,2014,3.00,1.00,201310038371.00,37.76,-122.40,Building Permit Approved
5,238 MISSOURI ST,4003006,2014-11-05,BP ISSUED,NaN,1,2015,3.00,1.00,201310038371.00,37.76,-122.40,Building Permit Approved
6,238 MISSOURI ST,4003006,2015-07-09,CONSTRUCTION,NaN,2,2015,3.00,1.00,201310038371.00,37.76,-122.40,Under Construction
7,238 MISSOURI ST,4003006,2015-10-30,CONSTRUCTION,2013-10-03,3,2015,3.00,1.00,201310038371.00,37.76,-122.40,Under Construction
8,238 MISSOURI ST,4003006,2016-01-14,CONSTRUCTION,2013-10-03,4,2015,3.00,1.00,201310038371.00,37.76,-122.40,Under Construction
9,238 MISSOURI ST,4003006,2016-03-18,CONSTRUCTION,2013-10-03,1,2016,3.00,1.00,201310038371.00,37.76,-122.40,Under Construction
10,238 MISSOURI ST,4003006,2016-04-26,CONSTRUCTION,2013-10-03,2,2016,3.00,1.00,201310038371.00,37.76,-122.40,Under Construction
11,238 MISSOURI ST,4003006,2016-04-26,CONSTRUCTION,2013-10-03,3,2016,3.00,1.00,201310038371,37.76,-122.40,Under Construction

In [106]:
#Identify latest unit counts
units = np.nan
for index, row in group_df.iterrows():
    if pd.isnull(row['units']):
        continue
    else:
        units = row['units']

In [115]:
#Identify latest net unit counts
unitsnet= np.nan
for index, row in group_df.iterrows():
    if pd.isnull(row['unitsnet']):
        continue
    else:
        unitsnet = row['unitsnet']

In [116]:
unitsnet

1.0

In [102]:
#Identify earliest "firstfiled" date
firstfiled='' #start with nonsensical date for earliest date
for index, row in group_df.iterrows():
    if pd.isnull(row['firstfiled']):
        continue
    else:
        if len(firstfiled) ==0:
            firstfiled=row['firstfiled']
        else:
            if dateutil.parser.parse(row['firstfiled']) < dateutil.parser.parse(firstfiled):
                firstfiled=row['firstfiled']
            else: 
                firstfiled=firstfiled

In [ ]:
# identify building permit ID. Then fill in rest of quarters with this permit ID.
building_permit=np.nan
for index, row in group_df.iterrows():
    if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
        building_permit=building_permit
    else:
        building_permit = row['dbi_permit']

In [ ]:
building_permit

In [ ]:
group_df['dbi_permit']=building_permit

In [ ]:
#Identify completion quarter
for index, row in group_df.iterrows():
    if row['best_stat'] !='CONSTRUCTION':
        comp_quarter= np.nan
        comp_year=np.nan
    elif row['best_stat'] == 'CONSTRUCTION':
        comp_quarter = row['report_quarter']
        comp_year = row['report_year']

if pd.isnull(comp_quarter):
    pass
if comp_quarter == 4 and comp_year == 2016:
    comp_quarter = np.nan
elif comp_quarter == 4:
    comp_quarter = 1
    comp_year = 1+comp_year
else:
    comp_quarter = 1+comp_quarter

In [ ]:
if comp_quarter ==1:
    comp_daymth= '01/01'
elif comp_quarter ==2:
    comp_daymth= '04/01'
elif comp_quarter==3:
    comp_daymth= '07/01'
elif comp_quarter == 4:
    comp_daymth= '10/01'
elif pd.isnull(comp_quarter):
    comp_daymth=np.nan
    
if pd.isnull(comp_daymth):
    comp_date = np.nan
else:
    comp_date = comp_daymth + "/" + str(comp_year)

In [ ]:
comp_date

In [ ]:
#Identify earliest best date
earliest_BD = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['best_date']):
        continue
    else:
        if len(earliest_BD) == 0:
            earliest_BD = row['best_date']
        else:
            continue

In [ ]:
firstfiled

In [ ]:
earliest_BD

In [ ]:
# Finalize first date variable (minimum of earliest best_date and firstfiled)
if firstfiled =='' and earliest_BD !='':
    first_date = earliest_BD
elif earliest_BD=='' and firstfiled !='':
    first_date = firstfiled
elif firstfiled !='' and earliest_BD !='':
    first_date = min(firstfiled, earliest_BD)

In [ ]:
first_date

In [ ]:
# initiate variables. Groups without these dates are blank for these variables.
BP_date = ''
con_date = ''

#Identify first date for all status categories
m=0
for index, row in group_df.iterrows():
    if m == 0:
        status_previous = 'blah'
    if row['status']=='Building Permit Approved':
        if index == 0:
            BP_date = row['best_date']
        elif index !=0:
            if status_previous =='Building Permit Approved':
                BP_date=BP_date
            else:
                BP_date = row['best_date']
    elif row['status']=='Under Construction':
        if index == 0:
            con_date = row['best_date']
        elif index !=0:
            if status_previous =='Under Construction':
                con_date=con_date
            else:
                con_date = row['best_date']
    status_previous = row['status']
    m=m+1

In [ ]:
print (BP_date, con_date)

In [ ]:
last_row = group_df.tail(1).copy() #most recent row

In [ ]:
last_row

In [ ]:
last_row['latest_project_record_date'] = last_row.best_date
last_row['first_project_record_date'] = group_df.iloc[0].best_date
last_row['latest_project_status'] = last_row.best_stat

In [ ]:
last_row

In [ ]:
## Store a parseable list of all the project states and the dates those states were reported
last_row['project_dates'] = str(tuple(group_df.best_date))
last_row['project_statuses'] = str(tuple(group_df.best_stat))

In [ ]:
last_row

In [ ]:
## Store the project duration in days
latest = last_row.latest_project_record_date.iloc[0]
first = last_row.first_project_record_date.iloc[0]

In [ ]:
if not (pd.isnull(latest) or pd.isnull(first)):
    last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

In [ ]:
last_row

# Actual Code

In [133]:
def convert_to_one_record_per_project(df):
    """
    Group the dataset by (apn, address) and then emit one row per (apn, address) pair.
    best_date and best_stat will be converted into arrays.
    All other attributes will be taken from the record with the most recent `best_date` attribute.
    """
    gb = df.groupby(['apn', 'address'])
    for k in gb.groups:
        group_df = gb.get_group(k)
        group_df = group_df.sort('best_date')
        last_row = group_df.tail(1).copy()
        
        # identify building permit ID. Then fill in rest of quarters with this permit ID.
        building_permit=np.nan
        for index, row in group_df.iterrows():
            if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
                building_permit=building_permit
            else:
                building_permit = row['dbi_permit']
                
        #Identify completion quarter for those projects that have reached completion
        for index, row in group_df.iterrows():
            if row['best_stat'] !='CONSTRUCTION':
                comp_quarter= np.nan
                comp_year=np.nan
            elif row['best_stat'] == 'CONSTRUCTION':
                comp_quarter = row['report_quarter']
                comp_year = row['report_year']

        if pd.isnull(comp_quarter):
            pass
        if comp_quarter == 1 and comp_year == 2016:
            comp_quarter = np.nan
        elif comp_quarter == 4:
            comp_quarter = 1
            comp_year = 1+comp_year
        else:
            comp_quarter = 1+comp_quarter
            
        if comp_quarter ==1:
            comp_daymth= '01/01'
        elif comp_quarter ==2:
            comp_daymth= '04/01'
        elif comp_quarter==3:
            comp_daymth= '07/01'
        elif comp_quarter == 4:
            comp_daymth= '10/01'
        elif pd.isnull(comp_quarter):
            comp_daymth=np.nan

        if pd.isnull(comp_daymth):
            comp_date = np.nan
        else:
            comp_date = comp_daymth + "/" + str(comp_year)
        
        #Identify earliest "firstfiled" date
        firstfiled=''
        for index, row in group_df.iterrows():
            if pd.isnull(row['firstfiled']):
                continue
            else:
                if len(firstfiled) ==0:
                    firstfiled=row['firstfiled']
                else:
                    if dateutil.parser.parse(row['firstfiled']) < dateutil.parser.parse(firstfiled):
                        firstfiled=row['firstfiled']
                    else: 
                        firstfiled=firstfiled
        
        #Identify earliest best date
        earliest_BD = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['best_date']):
                continue
            else:
                if len(earliest_BD) == 0:
                    earliest_BD = row['best_date']
                else:
                    continue
        
        # Finalize first date variable (minimum of earliest best_date and firstfiled)
        if firstfiled =='' and earliest_BD !='':
            first_date = earliest_BD
        elif earliest_BD=='' and firstfiled !='':
            first_date = firstfiled
        elif firstfiled !='' and earliest_BD !='':
            first_date = min(firstfiled, earliest_BD)
            
        # initiate variables. Groups without these dates are blank for these variables.
        BP_date = ''
        con_date = ''

        #Identify first date for all status categories
        m=0
        for index, row in group_df.iterrows():
            if m == 0:
                status_previous = 'blah'
            if row['status']=='Building Permit Approved':
                if index == 0:
                    BP_date = row['best_date']
                elif index !=0:
                    if status_previous =='Building Permit Approved':
                        BP_date=BP_date
                    else:
                        BP_date = row['best_date']
            elif row['status']=='Under Construction':
                if index == 0:
                    con_date = row['best_date']
                elif index !=0:
                    if status_previous =='Under Construction':
                        con_date=con_date
                    else:
                        con_date = row['best_date']
            status_previous = row['status']
            m=m+1
            
        #Identify latest unit counts
        units = np.nan
        for index, row in group_df.iterrows():
            if pd.isnull(row['units']):
                continue
            else:
                units = row['units']
                
        #Identify latest net unit counts
        unitsnet= np.nan
        for index, row in group_df.iterrows():
            if pd.isnull(row['unitsnet']):
                continue
            else:
                unitsnet = row['unitsnet']
        
        last_row['firstfiled']=firstfiled
        last_row['dbi_permit']= building_permit
        last_row['comp_date']=comp_date
        last_row['BP_date'] = BP_date
        last_row['con_date'] = con_date
        last_row['first_date']=first_date
        last_row['latest_project_record_date'] = last_row.best_date
        last_row['first_project_record_date'] = group_df.iloc[0].best_date
        last_row['latest_project_status'] = last_row.best_stat
        last_row['units']=units
        last_row['unitsnet']=unitsnet

        ## Store a parseable list of all the project states and the dates those states were reported
        last_row['project_dates'] = str(tuple(group_df.best_date))
        last_row['project_statuses'] = str(tuple(group_df.best_stat))

        ## Store the project duration in days
        if not (pd.isnull(comp_date) or pd.isnull(first_date)):
            last_row['project_duration_days'] = (dateutil.parser.parse(comp_date) - dateutil.parser.parse(first_date)).days

        yield last_row


def main():
    df = pd.read_csv("cleaned/all_quarters_merged.csv")
    #consolidate status categories. Start with 3 for now
    def status_function(value):
        if value['best_stat']=="CONSTRUCTION":
            field = 'Under Construction'
        elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
            field = 'Building Permit Approved'
        else:
            field = 'Proposed'
        return field

    df['status']=df.apply(status_function, axis=1)
    
    #keep only variables we want
    list = ['address', 'apn', 'best_date', 'best_stat','status', 'firstfiled', 'report_quarter', 'report_year','units','unitsnet', 'dbi_permit', 'x', 'y']
    df = df[list]
    new_df = pd.concat(convert_to_one_record_per_project(df))
    logging.info("Writing output ({} rows, {} cols) to data/cleaned/all_quarters__one_record_per_project.csv".format(*new_df.shape))
    new_df.to_csv("cleaned/all_quarters__one_record_per_project.csv")
    return new_df

In [134]:
new_df = main()

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (1,2,6,8,12,13,16,17,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,46,48,49,52,53,54,56,61,63,64,65,66,67,68,69,70,72,76,79,80,81,82,83,85,86,87,88,89,90,91,92,93,94,95,100,102,104,105,106,107,108,110,111,112,113,114,117,119,126,129,131,132,133,134,135,136) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [24]:
#First, filter out those projects that are exclusively non-residential (defined as those without units)
new_df = new_df[new_df['units'] > 0]

In [25]:
#Next, keep only those that reached completion at some point over the time period
new_df=new_df[pd.notnull(new_df['comp_date'])]

# Explore Duplicate Data

In [26]:
new_df['address_apn']=new_df['address']+new_df['apn']

In [72]:
#Finally, filter out records with duplicate BP Ids
new_df[new_df.duplicated('dbi_permit', keep=False)]['address_apn'].unique()

array(['1169 MARKET ST3702053', '1634 - 1690 PINE ST0647007',
       '718 LONG BRIDGE ST8710004', '1190 MISSION ST3702052',
       '950 CORBETT AV2799083', '55 LAGUNA ST0857001',
       '1340-1390 MISSION ST3508053', '690 MONTEREY BL3094055',
       '950 CORBETT AV2799013', '443 LINDEN ST0818049',
       '1301 INDIANA ST4228010', '47 MOSS ST3731119',
       'TRINITY PLAZA PHASE III3702391', '5800 03RD ST5431A001',
       'HUNTERS POINT SHIPYARD (UNDER CONSTRUCTION)4591C001',
       '1068 GUERRERO ST3632039', '3150 GEARY BL1066028',
       '49 MOSS ST3731119', '650 INDIANA ST4041009',
       '70 DOUGLASS ST2625007A', '2101 & 2155 WEBSTER STREET0629037',
       'HOPE SF ALICE GRIFFITH4884025', 'MISSION BAY BLOCK 6E8711021',
       'HUDSON AVE AND WHITNEY YOUNG CIR4711118', '70 DOUGLASS ST2625032',
       '790 ANDOVER ST5825031', '2500 ARELIOUS WALKER DR4884025',
       '4 OCTAVIA ST0855011', '5800 03RD ST (BUILDING 4)5431A042',
       '1 ECKER ST3708022', 'TRINITY PLAZA3702391',
       '72 TOWNSEND ST3789003', '55 LAGUNA STREET0857001',
       '718 LONG BRIDGE ST8710007', '782-786 ANDOVER ST5825007',
       '1300 04TH ST8711021', 'PARCEL P - MARKET OCTAVIA0831023',
       '218 BUCHANAN ST0857001A', '1076 HAMPSHIRE ST4152045',
       '8 OCTAVIA ST0855011', '1634-1690 PINE ST0647007',
       '1420 MISSION ST3507039', '650 INDIANA ST (BLDG 2 OF 2)4041009',
       '690 MONTEREY BLVD3094055', '1420 MISSION ST3507042',
       '2155 WEBSTER ST0629037', '101 EXECUTIVE PARK BL4991279',
       '145 AMES ST3632038', '746 CAROLINA ST4096005',
       '101 EXECUTIVE PARK BL4991617', '790 ANDOVER ST5825008',
       '1239 TURK ST0757027', '1078 HAMPSHIRE ST4152046',
       '338 CARL ST1265047',
       '800 BROTHERHOOD WAY (UNDER CONSTRUCTION)7331003',
       '72 TOWNSEND ST3789972', '746 CAROLINA ST4096109',
       'HUNTERS VIEW4624031', 'MARKET OCTAVIA - PARCEL P0831023',
       '1100 GOLDEN GATE AV0757025',
       '800 BROTHERHOOD WAY (UNDER CONSTRUCTION)7331005',
       'HUNTERS POINT SHIPYARD PHASE I4591C001', '1400 MISSION ST3507039',
       '782-786 ANDOVER ST5825032', '1100 GOLDEN GATE AV0757028',
       '1301 INDIANA ST4228158', '3150 GEARY BL1066060',
       '1076 HAMPSHIRE ST4152016', '800 BROTHERHOOD7331005',
       'HP SHIPYARD PHASE 1 (UNDER CONSTRUCTION)4591C001',
       '338 CARL ST1265009', '447 LINDEN ST0818048', '1 ECKER ST3708056'], dtype=object)

In [73]:
new_df[new_df['address_apn']=='1634 - 1690 PINE ST0647007']['dbi_permit']

24161   201312184508.00
Name: dbi_permit, dtype: object

In [76]:
# Same project, different address-apn combinationverified by looking at each address in PIM
new_df[new_df['dbi_permit']==201312184508.00]

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y,address_apn
24161,,1634 - 1690 PINE ST,0647007,2016-07-01,CONSTRUCTION,07/01/2016,2016-01-14,201312184508.00,2000-11-27,2016-01-14,2000-11-27,2016-07-01,CONSTRUCTION,"('2016-01-14', '2016-03-29', '2016-07-01')",5695.00,"('CONSTRUCTION', 'CONSTRUCTION', 'CONSTRUCTION')",2,2016,Under Construction,260.00,260.00,37.79,-122.42,1634 - 1690 PINE ST0647007
20094,,1634-1690 PINE ST,0647007,2015-10-29,CONSTRUCTION,10/01/2015,2015-07-30,201312184508.00,2000-11-27,2012-07-17,2000-11-27,2015-10-29,CONSTRUCTION,"('2012-07-17', '2012-07-17', '2012-07-17', '20...",5421.00,"('PL FILED', 'PL FILED', 'PL FILED', 'PL FILED...",3,2015,Under Construction,260.00,260.00,37.79,-122.42,1634-1690 PINE ST0647007

In [22]:
#explore duplicated
new_df[new_df['address']=='2155 WEBSTER ST']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
9106,,2155 WEBSTER ST,0629037,2015-03-18,CONSTRUCTION,01/01/2015,2015-03-18,201311222660,2013-11-22,2013-11-22,NaN,2015-03-18,CONSTRUCTION,"('2013-11-22', '2013-11-22', '2013-11-22', '20...",405.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",4,2014,Under Construction,77.0,77.0,37.79057,-122.432337

In [41]:
new_df[new_df['dbi_permit']=='200705010136']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
11114,,72 TOWNSEND ST,3789972,2015-07-21,CONSTRUCTION,07/01/2015,2015-07-21,200705010136,2015-07-21,2015-07-21,NaN,2015-07-21,CONSTRUCTION,"('2015-07-21',)",-20.0,"('CONSTRUCTION',)",2,2015,Under Construction,74.0,74.0,37.781388,-122.390353

In [36]:
new_df[new_df['project_duration_days']<0]

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
11114,,72 TOWNSEND ST,3789972,2015-07-21,CONSTRUCTION,07/01/2015,2015-07-21,200705010136,2015-07-21,2015-07-21,NaN,2015-07-21,CONSTRUCTION,"('2015-07-21',)",-20.0,"('CONSTRUCTION',)",2,2015,Under Construction,74.0,74.0,37.781388,-122.390353

# Manual Data Cleaning
Based off of identified duplicates in the previous section

In [54]:
#decided that both this and its duplicate BP at 1169 Market Street are two phases of the same project. Same start date, different end dates
new_df.loc[(new_df['address']=='1190 MISSION ST') & (new_df['apn']=='3702052'), 'first_date'] = '2003-07-15'

In [71]:
#this has a duplicate, same address, different APN
new_df=new_df[(new_df['address']!='3575 GEARY BL') | (new_df['apn']=='1084010')]

In [86]:
#same project, happening at different periods
new_df.loc[(new_df['address']=='1634-1690 PINE ST') & (new_df['apn']=='0647007'), 'comp_date']='07/01/2016'
new_df=new_df[(new_df['address']!='1634 - 1690 PINE ST') | (new_df['apn']=='0647007')]

In [85]:
new_df.loc[(new_df['address']=='1634-1690 PINE ST') & (new_df['apn']=='0647007')]

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y,address_apn
20094,,1634-1690 PINE ST,0647007,2015-10-29,CONSTRUCTION,07/01/2016,2015-07-30,201312184508.00,2000-11-27,2012-07-17,2000-11-27,2015-10-29,CONSTRUCTION,"('2012-07-17', '2012-07-17', '2012-07-17', '20...",5421.00,"('PL FILED', 'PL FILED', 'PL FILED', 'PL FILED...",3,2015,Under Construction,260.00,260.00,37.79,-122.42,1634-1690 PINE ST0647007

In [ ]:
#Be sure to redo project duration after all manual cleaning

In [ ]:
#do median time based on neighborhood

In [ ]:
#breakdown time to completion by stage for those projects that this can be done for