# Brian Replication of data_model.py in a python notebook

In [166]:
import pandas as pd
import logging
import dateutil
from dateutil import parser
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 500)

In [141]:
logging.basicConfig(level=logging.INFO)

# Code Broken Down

In [142]:
df = pd.read_csv("cleaned/all_quarters_merged_TEST.csv")

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,2,6,12,16,17,20,21,27,28,29,30,31,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,49,50,51,59,77,86,89,90,91,92,94,95,96,97,98,99,101,111,112,113,114,115,116,117,118,119,120,121,138,140,141,142,143,144) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [144]:
# keep only variables of interest
list = ['address', 'apn', 'best_date', 'best_stat','firstfiled', 'report_quarter', 'report_year', 'units', 'unitsnet', 'dbi_permit', 'x', 'y']
df = df[list]

In [145]:
#consolidate status categories. Start with 3 for now
def status_function(value):
    if value['best_stat']=="CONSTRUCTION":
        field = 'Under Construction'
    elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
        field = 'Building Permit Approved'
    else:
        field = 'Proposed'
    return field
        
df['status']=df.apply(status_function, axis=1)

In [146]:
gb = df.groupby(['apn', 'address'])

In [147]:
gb.groups

{('3594023',
  '835 SOUTH VAN NESS AV'): Int64Index([9385, 9919, 11067, 12456, 13364, 14826], dtype='int64'),
 ('4045002',
  '740 ILLINOIS ST AND 2121 THIRD ST'): Int64Index([328, 983, 2222, 2739, 3468, 4263, 4941, 5850, 6704, 7578], dtype='int64'),
 ('6250037',
  '95 LELAND AV'): Int64Index([5289, 6249, 6950, 7902, 8575, 10573, 11229, 12395], dtype='int64'),
 ('2636001', '1530 - 1585  5TH AV'): Int64Index([13271, 14851], dtype='int64'),
 ('3577053',
  '33 DEARBORN ST'): Int64Index([11298, 12450, 13677, 15264], dtype='int64'),
 ('6655030',
  '176 RANDALL ST'): Int64Index([  256,  1204,  2198,  2617,  3376,  3980,  4846,  5763,  6467,
              7487,  8997,  9634, 10545, 11500, 12770, 13961, 14935],
            dtype='int64'),
 ('2613020',
  '2317 15TH ST'): Int64Index([  340,   919,  1992,  2770,  3496,  4047,  4868,  5780,  6731,
              7594,  8436,  9691, 10585, 11537, 12682, 14030, 15083],
            dtype='int64'),
 ('1612017N',
  '774 33RD AV'): Int64Index([ 3698,  4131,  5149,  6098,  6767,  7665,  8583,  9608, 10346,
             11440, 12597, 13846, 15659],
            dtype='int64'),
 ('3631017',
  '987 DOLORES ST'): Int64Index([8044, 8777, 9253, 10825, 11927, 13036, 14325, 15765], dtype='int64'),
 ('6621030',
  '497 VALLEY ST'): Int64Index([  221,  1314,  1590,  2614,  3373,  3952,  4843,  5760,  6465,
              7485,  8977,  9776, 10669, 11444, 12759, 13963, 15465],
            dtype='int64'),
 ('1456003',
  '423 24TH AV'): Int64Index([7678, 8861, 9325, 10125, 11322, 12490, 13717, 15391], dtype='int64'),
 ('3596059',
  '263 LEXINGTON ST'): Int64Index([4166, 5185, 6118, 6933], dtype='int64'),
 ('8721033', '1455 03RD ST'): Int64Index([13158], dtype='int64'),
 ('3729081', '209 09TH ST'): Int64Index([442], dtype='int64'),
 ('4107001B', '950 TENNESSEE ST'): Int64Index([13340, 15751], dtype='int64'),
 ('0283004A',
  '620 SUTTER ST'): Int64Index([2985, 3917, 5351, 5461, 6500, 7194, 8088, 9104, 9974, 11109, 12204,
             13413],
            dtype='int64'),
 ('1226019',
  '418 SHRADER ST'): Int64Index([10282, 11632, 12807, 14093, 15383], dtype='int64'),
 ('0816003', '205 FRANKLIN ST'): Int64Index([530, 964, 1595], dtype='int64'),
 ('1684002I',
  '6524 FULTON ST'): Int64Index([  485,  1206,  1629,  2345,  3091,  4222,  4542,  5532,  6563,
              7261,  8960,  9600, 10734, 11456, 12643, 13380],
            dtype='int64'),
 ('1127064',
  '1816 EDDY ST'): Int64Index([5274, 6235, 7032, 7813], dtype='int64'),
 ('5577009',
  '195 BREWSTER ST'): Int64Index([  665,  1342,  1583,  2563,  3308,  4442,  4796,  5711,  6428,
              7448,  8235,  9360, 10609, 11308, 12430, 13670, 14781],
            dtype='int64'),
 ('2316001', '2227 33RD AV'): Int64Index([10295], dtype='int64'),
 ('3708055', 'OCEANWIDE (FIRST ST TOWER)'): Int64Index([15804], dtype='int64'),
 ('1511034',
  '546 34TH AV'): Int64Index([4530, 5211, 6143, 6961, 7822, 8641, 9534, 10546, 11855, 12173,
             13888, 15815],
            dtype='int64'),
 ('3763105',
  '645 HARRISON ST'): Int64Index([13133, 14432, 15589], dtype='int64'),
 ('6209052',
  '202 TEDDY AV (AKA 468 - 488 RUTLAND)'): Int64Index([13701, 14996], dtype='int64'),
 ('5892032', '78 NEY ST'): Int64Index([15663], dtype='int64'),
 ('5431A001',
  '5800 03RD ST'): Int64Index([2440, 3297, 4112, 4789, 5705, 6421, 7441, 8300, 9049, 10446, 10982,
             12123],
            dtype='int64'),
 ('0832025', '300 OCTAVIA STREET'): Int64Index([11079, 12290], dtype='int64'),
 ('0836007',
  '1546 - 1564 MARKET ST'): Int64Index([13337, 14861], dtype='int64'),
 ('2700056',
  '55 CASELLI AV'): Int64Index([375, 828, 2038, 2832, 3556], dtype='int64'),
 ('3180001',
  '50 PHELAN AV'): Int64Index([630, 998, 1688, 2247, 3167, 4394, 4590, 5571, 6585, 7328, 8183], dtype='int64'),
 ('6758032',
  '807 BOSWORTH ST'): Int64Index([8057, 9004, 9630, 10647, 11931, 12966, 14330, 15676], dtype='int64'),
 ('3736120', '500 FOLSOM ST'): Int64Index([9923, 10937, 12067], dtype='int64'),
 ('3731119',
  '47 MOSS ST'): Int64Index([5237, 6179, 6993, 7852, 8672, 9783], dtype='int64'),
 ('0809020', '311 GROVE ST'): Int64Index([13570, 15239], dtype='int64'),
 ('0691001', '1145 POLK STREET'): Int64Index([12224], dtype='int64'),
 ('3764063', '525 HARRISON ST'): Int64Index([13303, 15818], dtype='int64'),
 ('0948029',
  '2855 FILBERT ST'): Int64Index([6262, 7092, 7959, 8765, 9708, 10254, 11803, 13026, 14241, 15197], dtype='int64'),
 ('4044003',
  '2146 3RD ST'): Int64Index([7153, 8020, 8834, 9252, 10033, 11220, 12373, 13583, 15031], dtype='int64'),
 ('3553054', '1511 15TH ST'): Int64Index([14383, 14838], dtype='int64'),
 ('1718046',
  '3125 LINCOLN WY'): Int64Index([9575, 10285, 11652, 12831, 14134, 15242], dtype='int64'),
 ('3639002',
  '2652 HARRISON ST'): Int64Index([335, 957, 1724, 2466, 3199, 4270, 4619], dtype='int64'),
 ('5991003',
  '306 UNIVERSITY ST'): Int64Index([8944, 9835, 10788, 11664, 13070, 14107, 15234], dtype='int64'),
 ('0317005',
  '436 OFARRELL ST'): Int64Index([  281,  1129,  1517,  2297,  2966,  4001,  5354,  5464,  6504,
              7198,  8091,  9238, 10430, 11182, 12338, 13546, 15405],
            dtype='int64'),
 ('3730007', '262 07TH ST'): Int64Index([15147], dtype='int64'),
 ('6604038',
  '647 DUNCAN ST'): Int64Index([8915, 9812, 9943, 11885, 13040, 14250, 15593], dtype='int64'),
 ('5431A014', '320 - 400 PAUL AV'): Int64Index([15249], dtype='int64'),
 ('1736003', '1221 14TH AV'): Int64Index([11751], dtype='int64'),
 ('3985027',
  '1239 17TH ST'): Int64Index([5975, 7078, 7945, 8752, 9277, 10074, 11285, 12440, 13667, 14660], dtype='int64'),
 ('4710084', '144 CASHMERE ST'): Int64Index([14387, 14745], dtype='int64'),
 ('1279083',
  '31 PARNASSUS AV'): Int64Index([546, 881, 2232, 2799], dtype='int64'),
 ('6356061',
  '1491 SUNNYDALE AV'): Int64Index([3358, 3913, 4825], dtype='int64'),
 ('0026030',
  '827 NORTH POINT ST'): Int64Index([  380,   820,  1935,  2704,  3573,  3936,  5038,  5989,  6800,
              7648,  8488,  9407, 10616, 11272, 12442, 13669, 15688],
            dtype='int64'),
 ('1084001B',
  '1 STANYAN STREET'): Int64Index([  224,  1309,  2150,  2351,  3080,  3955,  5404,  5499,  6527,
              7231,  8126,  9203, 10561, 11157, 12307],
            dtype='int64'),
 ('3554001', '1900 MISSION ST'): Int64Index([13558, 14973], dtype='int64'),
 ('4761039', '1380 REVERE AV'): Int64Index([13802, 14728], dtype='int64'),
 ('5324020', '1447 OAKDALE AV'): Int64Index([14752], dtype='int64'),
 ('4591C165',
  '89 KIRKWOOD AV'): Int64Index([9188, 10002, 11091, 12137], dtype='int64'),
 ('6593022',
  '1513 - 1517 CHURCH ST'): Int64Index([14005, 14829], dtype='int64'),
 ('3740030', 'TRANSBAY BLOCK 1'): Int64Index([13270, 15786], dtype='int64'),
 ('1732037',
  '1236 19TH AV'): Int64Index([7129, 7996, 8812, 9334, 10109, 11341, 12483, 13739, 14656], dtype='int64'),
 ('0832026',
  '300 OCTAVIA ST (BP SET 2 OF 2)'): Int64Index([15222], dtype='int64'),
 ('1464014',
  '446 33RD AV'): Int64Index([  134,  1006,  1925,  2690,  3435,  4259,  4914,  5821,  6682,
              7540,  8380,  9511, 10708, 11445, 12662, 13927],
            dtype='int64'),
 ('5379029',
  '55 WATERVILLE ST'): Int64Index([484, 1217, 2186, 2437, 3293], dtype='int64'),
 ('5081002',
  '224 NUEVA AV'): Int64Index([11724, 12909, 13393, 15064], dtype='int64'),
 ('6575001', "CPMC - ST LUKE'S HOSPITAL"): Int64Index([14441], dtype='int64'),
 ('7119027',
  '122 ARCH ST'): Int64Index([5267, 6210, 7024, 7882, 8702, 9735, 10303, 11878, 12974, 14289,
             14646],
            dtype='int64'),
 ('6659006',
  '1749 DOLORES ST'): Int64Index([6230, 7075, 7943, 8750, 9645, 10798, 11861, 13007, 14299, 14929], dtype='int64'),
 ('8711019',
  '701 LONG BRIDGE ST'): Int64Index([5230, 6163, 7027, 7885, 8705], dtype='int64'),
 ('3525035', '215 - 217 DORE ST'): Int64Index([14018, 15032], dtype='int64'),
 ('5384C013C',
  '11 MADDUX AV'): Int64Index([11699, 12908, 13394, 14585], dtype='int64'),
 ('1569015',
  '2514 BALBOA ST'): Int64Index([10588, 11605, 12801, 14211, 15129], dtype='int64'),
 ('0185020', '1492 JACKSON ST'): Int64Index([505, 1074], dtype='int64'),
 ('5577006',
  '21 JOY ST'): Int64Index([11728, 12898, 14077, 15014], dtype='int64'),
 ('0580013',
  '2550 WEBSTER ST'): Int64Index([3690, 4125, 5141, 6092, 6909], dtype='int64'),
 ('0345004', '220 GOLDEN GATE AV'): Int64Index([582, 1191], dtype='int64'),
 ('6567013',
  '3736 CESAR CHAVEZ ST'): Int64Index([3366, 3763, 4835, 5752, 6458, 7278, 8992], dtype='int64'),
 ('6996010', '453 RALSTON ST'): Int64Index([13854, 15427], dtype='int64'),
 ('3594009',
  '2374 FOLSOM ST'): Int64Index([  465,  1310,  1716,  2459,  3042,  4207,  4651,  5596,  6329,
              7349,  8205,  9296, 10594, 11364, 12556, 13796, 15098],
            dtype='int64'),
 ('1775044',
  '1320 21ST AV'): Int64Index([5306, 5528, 7045, 7917, 8724], dtype='int64'),
 ('3502111',
  '25 ELGIN PARK ST'): Int64Index([  722,   882,  2241,  2808,  3528,  4473,  5000,  5910,  6618,
              7289,  8465,  9206, 10069, 11273, 12436, 13664, 14797],
            dtype='int64'),
 ('6473040',
  '5735 MISSION ST'): Int64Index([118, 1079, 1906, 2673, 3070, 4245], dtype='int64'),
 ('3639028',
  '953 TREAT AV'): Int64Index([587, 1180, 1726, 2468, 3201, 4361, 4621, 13634, 15752], dtype='int64'),
 ('3530049',
  '160 14TH ST'): Int64Index([76, 1242, 1696, 2254, 3175, 3796, 4597], dtype='int64'),
 ('4624009',
  '227 WEST POINT ROAD'): Int64Index([590, 1174, 1554, 2546, 3048, 3809, 4763], dtype='int64'),
 ('5826009', '128 BACHE ST'): Int64Index([3334, 3907, 4665], dtype='int64'),
 ('4266012',
  '1274 HAMPSHIRE ST'): Int64Index([10224, 11620, 12799, 14153, 14677], dtype='int64'),
 ('6022014',
  '395 ATHENS ST'): Int64Index([  426,  1451,  1810,  2565,  3339,  4182,  4672,  5736,  6444,
              7473,  8979,  9499, 10675, 11427],
            dtype='int64'),
 ('7107023',
  '188 BROAD ST'): Int64Index([  765,  2103,  2900,  3631,  4315,  5093,  6042,  6863,  7731,
              8528,  9641, 10856, 11127, 12715, 13366, 14965],
            dtype='int64'),
 ('1583006',
  '623 40TH AV'): Int64Index([  212,  1260,  1628,  2375,  3077,  3970,  5426,  5520,  6551,
              7251,  8069,  9612, 10174, 11499, 12167, 13373],
            dtype='int64'),
 ('6612026',
  '2127 CASTRO ST'): Int64Index([4169, 5224, 6157, 6976, 7835, 8655, 9796, 10776, 11851, 12611,
             13859, 15026],
            dtype='int64'),
 ('0620006',
  '1601 LARKIN ST'): Int64Index([5331, 5443, 6482, 7172, 8068, 9157, 10496, 11065, 12277, 13483,
             14886],
            dtype='int64'),
 ('5000001', '490 JAMESTOWN AV (BLDG 2)'): Int64Index([15457], dtype='int64'),
 ('0647007',
  '1634 PINE ST'): Int64Index([661, 1477, 1536, 2319, 3008, 4439, 5374], dtype='int64'),
 ('5918029',
  '419 BOWDOIN ST'): Int64Index([  608,  1084,  1811,  2566,  3312,  4376,  4801,  5716,  6433,
              7453,  8311, 10559, 11223, 12364, 13592, 15384],
            dtype='int64'),
 ('6593006',
  '230 DUNCAN ST'): Int64Index([  444,  1392,  1585,  2609,  3368,  4192,  4838,  5754,  6460,
              7280,  8994,  9683, 10598, 11583, 12712, 13969],
            dtype='int64'),
 ('0836011',
  '22 FRANKLIN ST'): Int64Index([7141, 8007, 8822, 9158, 9992, 11063, 12278, 13489, 15046], dtype='int64'),
 ('1538036',
  '4221 GEARY BL'): Int64Index([10136, 11374, 12528, 13774, 15390], dtype='int64'),
 ('5305001',
  '1701 MCKINNON AVE'): Int64Index([10783, 11614, 14204], dtype='int64'),
 ('6569029', '3443 26TH ST'): Int64Index([15294], dtype='int64'),
 ('2375019',
  '3606 - 3608 TARAVAL ST'): Int64Index([10888, 14519, 15327], dtype='int64'),
 ('0306020',
  '555 POST ST'): Int64Index([11094, 12235, 13522, 15513], dtype='int64'),
 ('3533021', '460 14TH ST'): Int64Index([14254, 14811], dtype='int64'),
 ('5253028', '1665 GALVEZ AV'): Int64Index([14389, 14859], dtype='int64'),
 ('6374028', '463 SUNRISE WY'): Int64Index([13910, 15432], dtype='int64'),
 ('3532005',
  '1726 - 1730 MISSION ST'): Int64Index([12255, 13471, 14922], dtype='int64'),
 ('2303016',
  '2277 46TH AV'): Int64Index([11726, 12914, 14154, 15072], dtype='int64'),
 ('3615026',
  '2525 MISSION ST'): Int64Index([    3,  1461,  1721,  2464,  3194,  3731,  4615,  5601,  6591,
              7336,  8209,  9849, 10884, 12012, 13065, 14497, 15132],
            dtype='int64'),
 ('0836002',
  '1540 MARKET ST'): Int64Index([  695,  1068,  1909,  2676,  3072,  4454,  4899,  5805,  6663,
              7521,  8361,  9945, 10966, 12105, 14857],
            dtype='int64'),
 ('3753122',
  '301 06TH ST'): Int64Index([8239, 9099, 10462, 11010, 12199, 13406, 15223], dtype='int64'),
 ('2831013', '4152 24TH ST'): Int64Index([15380], dtype='int64'),
 ('3642062',
  '811 CAPP ST'): Int64Index([10191, 11754, 12179, 14175, 15680], dtype='int64'),
 ('5324010', '1466 PALOU AV'): Int64Index([14766], dtype='int64'),
 ('4098027',
  '749 WISCONSIN ST'): Int64Index([  218,  1319,  1790,  3253,  3950,  4710,  5676,  6396,  7389,
              8267, 10216, 11453, 12599, 14034, 15639],
            dtype='int64'),
 ('1419003', '223 14TH AV'): Int64Index([523], dtype='int64'),
 ('1571015C',
  '622 29TH AV'): Int64Index([197, 1370, 1627, 3103, 3935, 5424, 5519, 6550, 7250, 8142, 10175], dtype='int64'),
 ('3596113',
  '899 VALENCIA ST'): Int64Index([557, 1418, 1718, 2461, 3044, 4334, 4653, 5598, 6332, 7351, 8207,
             9187],
            dtype='int64'),
 ('3554003A',
  '1924 MISSION ST'): Int64Index([10009, 11156, 12305, 13534, 14776], dtype='int64'),
 ('3538096',
  '519 DUBOCE AV'): Int64Index([2938, 3671, 4119, 5123, 6075, 6894, 7758, 8540], dtype='int64'),
 ('5281003',
  '901 RANKIN ST'): Int64Index([4151, 5222, 6155, 6974, 7833, 8653], dtype='int64'),
 ('1145003',
  '2130 FULTON ST'): Int64Index([536, 932, 2154, 2354, 3084, 4273], dtype='int64'),
 ('0287013',
  '300 GRANT AVE'): Int64Index([657, 848, 1514, 2294, 2986, 4420, 5352, 5462, 6501, 7195, 8080], dtype='int64'),
 ('3732008',
  '260 05TH ST'): Int64Index([259, 1193, 1753, 2495, 3233, 4226, 4703, 5636, 6362], dtype='int64'),
 ('6501010',
  '60 FOUNTAIN ST'): Int64Index([  307,  1041,  1921,  2689,  3432,  4023,  4911,  5818,  6679,
              7537,  8377,  9516, 10150, 11454, 12666, 13929, 15547],
            dtype='int64'),
 ('2829010',
  '4376 24TH ST'): Int64Index([ 3713,  4124,  5163,  5944,  6780,  7779,  8597,  9800, 10863,
             11507, 12592, 13817, 15406],
            dtype='int64'),
 ('3778004', '630 - 698 BRANNAN ST'): Int64Index([15576], dtype='int64'),
 ('0660027', '2255-2257 PINE ST'): Int64Index([469, 1295], dtype='int64'),
 ('3702052',
  '1190 MISSION ST'): Int64Index([543, 898, 2006, 2782, 3505, 4285, 4975], dtype='int64'),
 ('1628028',
  '618 17TH AV'): Int64Index([5231, 6173, 6987, 7848, 8666, 9613, 10251, 11845, 12851, 13885,
             15569],
            dtype='int64'),
 ('0335002D', '538 EDDY ST'): Int64Index([14390, 15497], dtype='int64'),
 ('0642003',
  '1625 VAN NESS AV'): Int64Index([732, 823, 1936, 2705, 3574, 4477, 5039, 5990, 6801, 7649, 8489], dtype='int64'),
 ('5825009',
  '794 ANDOVER ST'): Int64Index([35, 1383, 1820, 2576, 3328, 3756], dtype='int64'),
 ('1611001F', '3221 BALBOA ST'): Int64Index([15254], dtype='int64'),
 ('5312018',
  '1766 OAKDALE AV'): Int64Index([627, 1007, 1952, 2719, 3451, 4391, 4923, 5834, 6692, 7549, 8388,
             9636],
            dtype='int64'),
 ('3116007',
  '412 HEARST AV'): Int64Index([  758,  2082,  2880,  3614,  4084,  5076,  6025,  6846,  7716,
              8400,  9789, 10319, 11420, 12764, 14021, 15376],
            dtype='int64'),
 ('0546001B', '1555 UNION ST'): Int64Index([14869], dtype='int64'),
 ('4158060',
  '1019 KANSAS ST'): Int64Index([9573, 10292, 11653, 12819, 14059, 14553], dtype='int64'),
 ('5610029A',
  '10 LUNDYS LN'): Int64Index([  547,   865,  2234,  2801,  3521,  4289,  4993,  5903,  6752,
              7617,  8458,  9423, 10756, 11488, 12706],
            dtype='int64'),
 ('2058009J',
  '1822 22ND AV'): Int64Index([8895, 9639, 10270, 11903, 13118, 14318, 14953], dtype='int64'),
 ('2764021', '3715 MARKET ST'): Int64Index([3155, 3901, 4577], dtype='int64'),
 ('0103021',
  '146 JASPER PLACE'): Int64Index([4534, 5197, 6130, 6818, 7809, 8629], dtype='int64'),
 ('6569018', '500 BARTLETT ST'): Int64Index([15470], dtype='int64'),
 ('1069045', '2882 -  2890 GEARY BL'): Int64Index([13754], dtype='int64'),
 ('3727014', '1126 - 1130 HOWARD STREET'): Int64Index([14604], dtype='int64'),
 ('3949001',
  '901 16TH STREET/1200 17TH STREET'): Int64Index([776, 2086, 2884], dtype='int64'),
 ('1901001', '3601 LAWTON ST'): Int64Index([15326], dtype='int64'),
 ('0852044',
  '124-126 HAIGHT STREET'): Int64Index([10583, 11237, 12389], dtype='int64'),
 ('0926008',
  '3305 BRODERICK ST'): Int64Index([5248, 6190, 7004, 7863, 8684, 9472, 10578, 11356, 12492, 13724], dtype='int64'),
 ('3196006',
  '1524 OCEAN AV'): Int64Index([9390, 10617, 11295, 12444, 13646, 14844], dtype='int64'),
 ('6935001', '1601 - 1635 OCEAN AV'): Int64Index([14879], dtype='int64'),
 ('0334028',
  '519 ELLIS ST'): Int64Index([11046, 12279, 13487, 15821], dtype='int64'),
 ('0918002E',
  '2328 NORTH POINT ST'): Int64Index([10393, 11998, 13122, 14403, 15085], dtype='int64'),
 ('5626014',
  '3526 FOLSOM ST'): Int64Index([6284, 7115, 7983, 8798, 9785, 10307, 11786, 13023, 14270, 15312], dtype='int64'),
 ('4142030',
  '949 HAMPSHIRE ST'): Int64Index([4903, 6183, 6997, 7856, 8677], dtype='int64'),
 ('2515001',
  '2800 SLOAT BL'): Int64Index([  577,  1258,  1645,  2386,  3116,  4349,  4538,  6548,  7259,
              8150,  9121, 10515, 11026, 12223],
            dtype='int64'),
 ('3780034', '979 BRYANT ST'): Int64Index([14495, 15761], dtype='int64'),
 ('3751033',
  '768 HARRISON ST'): Int64Index([8940, 9166, 10418, 11075, 12284, 13499, 15655], dtype='int64'),
 ('0473015A',
  '1265 BAY ST'): Int64Index([768, 2092, 2890, 3623, 4314, 5086, 6035], dtype='int64'),
 ('3732009',
  '900 FOLSOM ST'): Int64Index([260, 1194, 1754, 2496, 3234, 4227, 4704, 5637, 6363, 7383, 8966], dtype='int64'),
 ('1068003',
  '80 BLAKE ST'): Int64Index([4152, 5209, 6142, 6960, 7821, 8640, 9425, 10087, 11367, 12485,
             13712, 15669],
            dtype='int64'),
 ('1364048',
  '4201 CALIFORNIA ST'): Int64Index([456, 1356, 2163, 2363, 3085, 4199], dtype='int64'),
 ('3777045', '598 BRANNAN ST'): Int64Index([14466, 15542], dtype='int64'),
 ('3787033', '425 BRANNAN ST'): Int64Index([15394], dtype='int64'),
 ('5396001D',
  '1788 SILVER AV'): Int64Index([12768, 14292, 14944], dtype='int64'),
 ('0665012',
  '1636 BUSH ST'): Int64Index([  402,   792,  1579,  2865,  3600,  4078,  5061,  6012,  6833,
              7704,  8508,  9715, 10636, 11538, 12749, 14017, 14897],
            dtype='int64'),
 ('0077004',
  '30 EDITH ST'): Int64Index([  297,  1083,  1496,  2272,  2973,  4015,  5327,  5449,  6488,
              7181,  8075,  9346, 10674, 11386, 12560, 13805, 15213],
            dtype='int64'),
 ('1402036',
  '334 32ND AV'): Int64Index([11752, 12846, 14092, 14802], dtype='int64'),
 ('3746003', '201 FOLSOM ST'): Int64Index([10933], dtype='int64'),
 ('5000001',
  'HUNTERS POINT SHIPYARD PHASE II'): Int64Index([13410, 13412, 13421, 13435, 13437, 14529, 14530, 14531, 14532], dtype='int64'),
 ('4591A010', '142 ALBATROSS'): Int64Index([671, 1270, 1553], dtype='int64'),
 ('6349021',
  '717 PARIS ST'): Int64Index([  718,   925,  1988,  2766,  3493,  3848,  4963,  5876,  6728,
              7592,  8392,  9818, 10702, 11569, 12683, 14032],
            dtype='int64'),
 ('3765015',
  '425 FIRST STREET'): Int64Index([552, 1462, 1769, 2508, 3251, 4180, 4725, 5654, 6379, 7391, 8246], dtype='int64'),
 ('3730015', '1140 FOLSOM ST'): Int64Index([13322, 14608], dtype='int64'),
 ('5597A001',
  '928 TOLAND ST'): Int64Index([ 3724,  4127,  5133,  6109,  6921,  7791,  8607,  9885, 10852,
             11955, 13139, 14465, 15732],
            dtype='int64'),
 ('3509026', '17 GRACE ST'): Int64Index([14915], dtype='int64'),
 ('1456013',

In [148]:
group_df = gb.get_group(('0829040','526 HICKORY ST'))

In [149]:
group_df = group_df.sort('best_date')
group_df.reset_index(drop=True, inplace=True)

/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [150]:
group_df

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,units,unitsnet,dbi_permit,x,y,status
0,526 HICKORY ST,0829040,2015-01-21,CONSTRUCTION,NaN,2,2015,1.0,1.0,201209200264,37.774845,-122.428663,Under Construction

In [97]:
# identify building permit ID. Then fill in rest of quarters with this permit ID.
building_permit=np.nan
for index, row in group_df.iterrows():
    if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
        building_permit=building_permit
    else:
        building_permit = row['dbi_permit']

In [98]:
building_permit

'201101208700'

In [99]:
group_df['dbi_permit']=building_permit

In [54]:
#Identify completion quarter
for index, row in group_df.iterrows():
    if row['best_stat'] !='CONSTRUCTION':
        comp_quarter= np.nan
        comp_year=np.nan
    elif row['best_stat'] == 'CONSTRUCTION':
        comp_quarter = row['report_quarter']
        comp_year = row['report_year']

if pd.isnull(comp_quarter):
    pass
if comp_quarter == 4 and comp_year == 2016:
    comp_quarter = np.nan
elif comp_quarter == 4:
    comp_quarter = 1
    comp_year = 1+comp_year
else:
    comp_quarter = 1+comp_quarter

In [59]:
if comp_quarter ==1:
    comp_daymth= '01/01'
elif comp_quarter ==2:
    comp_daymth= '04/01'
elif comp_quarter==3:
    comp_daymth= '07/01'
elif comp_quarter == 4:
    comp_daymth= '10/01'
elif pd.isnull(comp_quarter):
    comp_daymth=np.nan
    
if pd.isnull(comp_daymth):
    comp_date = np.nan
else:
    comp_date = comp_daymth + "/" + str(comp_year)

In [60]:
comp_date

nan

In [ ]:
#Identify earliest "firstfiled" date
firstfiled = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['firstfiled']):
        continue
    else:
        if len(firstfiled) == 0:
            firstfiled = row['firstfiled']
        else:
            continue

In [ ]:
#Identify earliest best date
earliest_BD = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['best_date']):
        continue
    else:
        if len(earliest_BD) == 0:
            earliest_BD = row['best_date']
        else:
            continue

In [ ]:
firstfiled

In [ ]:
earliest_BD

In [ ]:
# Finalize first date variable (minimum of earliest best_date and firstfiled)
if firstfiled =='' and earliest_BD !='':
    first_date = earliest_BD
elif earliest_BD=='' and firstfiled !='':
    first_date = firstfiled
elif firstfiled !='' and earliest_BD !='':
    first_date = min(firstfiled, earliest_BD)

In [ ]:
first_date

In [ ]:
# initiate variables. Groups without these dates are blank for these variables.
BP_date = ''
con_date = ''

#Identify first date for all status categories
m=0
for index, row in group_df.iterrows():
    if m == 0:
        status_previous = 'blah'
    if row['status']=='Building Permit Approved':
        if index == 0:
            BP_date = row['best_date']
        elif index !=0:
            if status_previous =='Building Permit Approved':
                BP_date=BP_date
            else:
                BP_date = row['best_date']
    elif row['status']=='Under Construction':
        if index == 0:
            con_date = row['best_date']
        elif index !=0:
            if status_previous =='Under Construction':
                con_date=con_date
            else:
                con_date = row['best_date']
    status_previous = row['status']
    m=m+1

In [ ]:
print (BP_date, con_date)

In [ ]:
last_row = group_df.tail(1).copy() #most recent row

In [ ]:
last_row

In [ ]:
last_row['latest_project_record_date'] = last_row.best_date
last_row['first_project_record_date'] = group_df.iloc[0].best_date
last_row['latest_project_status'] = last_row.best_stat

In [ ]:
last_row

In [ ]:
## Store a parseable list of all the project states and the dates those states were reported
last_row['project_dates'] = str(tuple(group_df.best_date))
last_row['project_statuses'] = str(tuple(group_df.best_stat))

In [ ]:
last_row

In [ ]:
## Store the project duration in days
latest = last_row.latest_project_record_date.iloc[0]
first = last_row.first_project_record_date.iloc[0]

In [ ]:
if not (pd.isnull(latest) or pd.isnull(first)):
    last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

In [ ]:
last_row

# Actual Code

In [169]:
def convert_to_one_record_per_project(df):
    """
    Group the dataset by (apn, address) and then emit one row per (apn, address) pair.
    best_date and best_stat will be converted into arrays.
    All other attributes will be taken from the record with the most recent `best_date` attribute.
    """
    gb = df.groupby(['apn', 'address'])
    for k in gb.groups:
        group_df = gb.get_group(k)
        group_df = group_df.sort('best_date')
        last_row = group_df.tail(1).copy()
        
        # identify building permit ID. Then fill in rest of quarters with this permit ID.
        building_permit=np.nan
        for index, row in group_df.iterrows():
            if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
                building_permit=building_permit
            else:
                building_permit = row['dbi_permit']
                
        #Identify completion quarter for those projects that have reached completion
        for index, row in group_df.iterrows():
            if row['best_stat'] !='CONSTRUCTION':
                comp_quarter= np.nan
                comp_year=np.nan
            elif row['best_stat'] == 'CONSTRUCTION':
                comp_quarter = row['report_quarter']
                comp_year = row['report_year']

        if pd.isnull(comp_quarter):
            pass
        if comp_quarter == 4 and comp_year == 2016:
            comp_quarter = np.nan
        elif comp_quarter == 4:
            comp_quarter = 1
            comp_year = 1+comp_year
        else:
            comp_quarter = 1+comp_quarter
            
        if comp_quarter ==1:
            comp_daymth= '01/01'
        elif comp_quarter ==2:
            comp_daymth= '04/01'
        elif comp_quarter==3:
            comp_daymth= '07/01'
        elif comp_quarter == 4:
            comp_daymth= '10/01'
        elif pd.isnull(comp_quarter):
            comp_daymth=np.nan

        if pd.isnull(comp_daymth):
            comp_date = np.nan
        else:
            comp_date = comp_daymth + "/" + str(comp_year)
        
        #Identify earliest "firstfiled" date
        firstfiled = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['firstfiled']):
                continue
            else:
                if len(firstfiled) == 0:
                    firstfiled = row['firstfiled']
                else:
                    continue
        
        #Identify earliest best date
        earliest_BD = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['best_date']):
                continue
            else:
                if len(earliest_BD) == 0:
                    earliest_BD = row['best_date']
                else:
                    continue
        
        # Finalize first date variable (minimum of earliest best_date and firstfiled)
        if firstfiled =='' and earliest_BD !='':
            first_date = earliest_BD
        elif earliest_BD=='' and firstfiled !='':
            first_date = firstfiled
        elif firstfiled !='' and earliest_BD !='':
            first_date = min(firstfiled, earliest_BD)
            
        # initiate variables. Groups without these dates are blank for these variables.
        BP_date = ''
        con_date = ''

        #Identify first date for all status categories
        m=0
        for index, row in group_df.iterrows():
            if m == 0:
                status_previous = 'blah'
            if row['status']=='Building Permit Approved':
                if index == 0:
                    BP_date = row['best_date']
                elif index !=0:
                    if status_previous =='Building Permit Approved':
                        BP_date=BP_date
                    else:
                        BP_date = row['best_date']
            elif row['status']=='Under Construction':
                if index == 0:
                    con_date = row['best_date']
                elif index !=0:
                    if status_previous =='Under Construction':
                        con_date=con_date
                    else:
                        con_date = row['best_date']
            status_previous = row['status']
            m=m+1
        
        last_row['dbi_permit']= building_permit
        last_row['comp_date']=comp_date
        last_row['BP_date'] = BP_date
        last_row['con_date'] = con_date
        last_row['first_date']=first_date
        last_row['latest_project_record_date'] = last_row.best_date
        last_row['first_project_record_date'] = group_df.iloc[0].best_date
        last_row['latest_project_status'] = last_row.best_stat

        ## Store a parseable list of all the project states and the dates those states were reported
        last_row['project_dates'] = str(tuple(group_df.best_date))
        last_row['project_statuses'] = str(tuple(group_df.best_stat))

        ## Store the project duration in days
        if not (pd.isnull(comp_date) or pd.isnull(first_date)):
            last_row['project_duration_days'] = (dateutil.parser.parse(comp_date) - dateutil.parser.parse(first_date)).days

        yield last_row


def main():
    df = pd.read_csv("cleaned/all_quarters_merged_TEST.csv")
    #consolidate status categories. Start with 3 for now
    def status_function(value):
        if value['best_stat']=="CONSTRUCTION":
            field = 'Under Construction'
        elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
            field = 'Building Permit Approved'
        else:
            field = 'Proposed'
        return field

    df['status']=df.apply(status_function, axis=1)
    
    #keep only variables we want
    list = ['address', 'apn', 'best_date', 'best_stat','status', 'firstfiled', 'report_quarter', 'report_year','units','unitsnet', 'dbi_permit', 'x', 'y']
    df = df[list]
    new_df = pd.concat(convert_to_one_record_per_project(df))
    logging.info("Writing output ({} rows, {} cols) to data/cleaned/all_quarters__one_record_per_project.csv".format(*new_df.shape))
    new_df.to_csv("cleaned/all_quarters__one_record_per_project_BRIAN.csv")
    return new_df

In [170]:
new_df = main()

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (1,2,6,12,16,17,20,21,27,28,29,30,31,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,49,50,51,59,77,86,89,90,91,92,94,95,96,97,98,99,101,111,112,113,114,115,116,117,118,119,120,121,138,140,141,142,143,144) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [171]:
new_df.head()

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
14826,,835 SOUTH VAN NESS AV,3594023,2014-12-11,BP FILED,NaN,,2.01412e+11,2014-12-11,2014-12-11,2014-12-11,2014-12-11,BP FILED,"('2014-12-11', '2014-12-11', '2014-12-11', '20...",NaN,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",1,2016,Proposed,3.0,3.0,37.759804,-122.416615
7578,2012-07-20,740 ILLINOIS ST AND 2121 THIRD ST,4045002,2014-05-23,CONSTRUCTION,07/01/2014,2012-11-13,201111179162,2010-02-12 08:00:00,2011-11-17,2010-02-12,2014-05-23,CONSTRUCTION,"('2011-11-17', '2012-07-20', '2012-07-20', '20...",1599.0,"('BP FILED', 'BP ISSUED', 'BP ISSUED', 'CONSTR...",2,2014,Under Construction,106.0,106.0,37.762685,-122.388248
12395,2010-03-05,95 LELAND AV,6250037,2010-03-05,BP REINSTATED,NaN,,2.00704e+11,2007-04-12,2010-03-05,2007-04-12,2010-03-05,BP REINSTATED,"('2010-03-05', '2010-03-05', '2010-03-05', '20...",NaN,"('BP REINSTATED', 'BP REINSTATED', 'BP REINSTA...",3,2015,Building Permit Approved,8.0,5.0,37.711721,-122.405714
14851,,1530 - 1585 5TH AV,2636001,2015-10-22,PL FILED,NaN,,NaN,2014-10-15,2015-10-22,2014-10-15,2015-10-22,PL FILED,"('2015-10-22', '2015-10-22')",NaN,"('PL FILED', 'PL FILED')",1,2016,Proposed,460.0,374.0,37.759368,-122.460648
15264,,33 DEARBORN ST,3577053,2015-07-10,BP FILED,NaN,,2.01507e+11,2015-06-10,2015-07-10,2015-06-10,2015-07-10,BP FILED,"('2015-07-10', '2015-07-10', '2015-07-10', '20...",NaN,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED')",1,2016,Proposed,7.0,3.0,37.762699,-122.422774

In [172]:
#First, filter out those projects that are exclusively non-residential (defined as those without units)
new_df = new_df[new_df['units'] > 0]

In [173]:
#Next, keep only those that reached completion at some point over the time period
new_df=new_df[pd.notnull(new_df['comp_date'])]

In [174]:
new_df.head()

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
7578,2012-07-20,740 ILLINOIS ST AND 2121 THIRD ST,4045002,2014-05-23,CONSTRUCTION,07/01/2014,2012-11-13,201111179162,2010-02-12 08:00:00,2011-11-17,2010-02-12,2014-05-23,CONSTRUCTION,"('2011-11-17', '2012-07-20', '2012-07-20', '20...",1599.0,"('BP FILED', 'BP ISSUED', 'BP ISSUED', 'CONSTR...",2,2014,Under Construction,106.0,106.0,37.762685,-122.388248
15465,2013-07-22,497 VALLEY ST,6621030,2015-08-26,CONSTRUCTION,04/01/2016,2015-02-03,2.00701e+11,2007-01-10,2007-01-10,2007-01-10,2015-08-26,CONSTRUCTION,"('2007-01-10', '2007-01-10', '2007-01-10', '20...",3369.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",1,2016,Under Construction,1.0,1.0,37.743992,-122.433053
6933,2013-12-18,263 LEXINGTON ST,3596059,2014-03-20,CONSTRUCTION,04/01/2014,2014-03-20,201305287999,2013-05-28,2013-05-28,2013-05-28,2014-03-20,CONSTRUCTION,"('2013-05-28', '2013-05-28', '2013-12-18', '20...",308.0,"('BP FILED', 'BP FILED', 'BP ISSUED', 'CONSTRU...",1,2014,Under Construction,2.0,1.0,37.759194,-122.420376
442,,209 09TH ST,3729081,2012-02-07,CONSTRUCTION,04/01/2012,2012-02-07,200810164336,2005-10-13 07:00:00,2012-02-07,2005-10-13 07:00:00,2012-02-07,CONSTRUCTION,"('2012-02-07',)",2361.0,"('CONSTRUCTION',)",1,2012,Under Construction,3.0,3.0,37.774940,-122.412852
13380,,6524 FULTON ST,1684002I,2011-06-03,CONSTRUCTION,01/01/2016,2011-06-03,2.00712e+11,2007-12-20 08:00:00,2011-06-03,2007-12-20,2011-06-03,CONSTRUCTION,"('2011-06-03', '2011-06-03', '2011-06-03', '20...",2933.0,"('CONSTRUCTION', 'CONSTRUCTION', 'CONSTRUCTION...",4,2015,Under Construction,2.0,1.0,37.772017,-122.501834

In [175]:
#Finally, filter out records with duplicate BP Ids
new_df[new_df.duplicated('dbi_permit', keep=False)]['address'].unique()

array(['1190 MISSION ST', '1420 MISSION ST', '57 TEHAMA ST',
       '1169 MARKET ST', '1000 16TH ST', '41 TEHAMA ST',
       '55 LAGUNA STREET', '1400 MISSION ST',
       '5 SHIPLEY ST / 935 FOLSOM ST / 77 FALMOUTH ST',
       '1076 HAMPSHIRE ST', '690 MONTEREY BLVD', '4132 03RD ST',
       '800 BROTHERHOOD', '1446 OCEAN AV', '8 OCTAVIA ST', '1239 TURK ST',
       '344 - 388 FULTON ST', '1078 HAMPSHIRE ST', '800 BROTHERHOOD WAY',
       '218 BUCHANAN ST', 'HP SHIPYARD PHASE 1 (UNDER CONSTRUCTION)',
       '650 INDIANA ST', '55 LAGUNA ST (BLDG 2)', '1400 07TH ST',
       '4132 THIRD STREET', '2155 WEBSTER ST',
       '236 - 238 SHIPLEY ST / 77 FALMOUTH ST', '447 - 453 LINDEN ST',
       '233 - 237 SHIPLEY ST', '650 INDIANA ST (BLDG 2 OF 2)',
       '1100 GOLDEN GATE AV', '447 LINDEN ST', '4 OCTAVIA ST',
       'HUNTERS POINT SHIPYARD PHASE I', '2101 & 2155 WEBSTER STREET',
       '55 LAGUNA ST', '690 MONTEREY BL', '1490 OCEAN AV',
       '233-237 SHIPLEY ST', 'PARCEL F'], dtype=object)

In [158]:
#explore duplicated
new_df[new_df['address']=='1190 MISSION ST']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
4975,,1190 MISSION ST,3702052,2013-05-15,CONSTRUCTION,10/01/2013,2012-03-08,201012166843,2010-12-16 08:00:00,2012-03-08,2010-12-16,2013-05-15,CONSTRUCTION,"('2012-03-08', '2012-07-11', '2012-10-09', '20...",433.0,"('CONSTRUCTION', 'CONSTRUCTION', 'CONSTRUCTION...",3,2013,Under Construction,418.0,418.0,37.77762,-122.412985

In [159]:
# Same project, different address-apn combinationverified by looking at each address in PIM
new_df[new_df['dbi_permit']=='201012166843']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
4975,,1190 MISSION ST,3702052,2013-05-15,CONSTRUCTION,10/01/2013,2012-03-08,201012166843,2010-12-16 08:00:00,2012-03-08,2010-12-16,2013-05-15,CONSTRUCTION,"('2012-03-08', '2012-07-11', '2012-10-09', '20...",433.0,"('CONSTRUCTION', 'CONSTRUCTION', 'CONSTRUCTION...",3,2013,Under Construction,418.0,418.0,37.777620,-122.412985
425,,1169 MARKET ST,3702053,2012-03-08,CONSTRUCTION,04/01/2012,2012-03-08,201012166843,2003-07-15 07:00:00,2012-03-08,2003-07-15 07:00:00,2012-03-08,CONSTRUCTION,"('2012-03-08',)",0.0,"('CONSTRUCTION',)",1,2012,Under Construction,418.0,418.0,37.779181,-122.414016

In [164]:
#explore duplicated
new_df[new_df['address']=='2155 WEBSTER ST']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
9106,,2155 WEBSTER ST,0629037,2015-03-18,CONSTRUCTION,01/01/2015,2015-03-18,201311222660,2013-11-22,2013-11-22,NaN,2015-03-18,CONSTRUCTION,"('2013-11-22', '2013-11-22', '2013-11-22', '20...",481.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",4,2014,Under Construction,77.0,77.0,37.79057,-122.432337

In [165]:
new_df[new_df['dbi_permit']=='201311222660']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
9106,,2155 WEBSTER ST,0629037,2015-03-18,CONSTRUCTION,01/01/2015,2015-03-18,201311222660,2013-11-22,2013-11-22,NaN,2015-03-18,CONSTRUCTION,"('2013-11-22', '2013-11-22', '2013-11-22', '20...",481.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",4,2014,Under Construction,77.0,77.0,37.790570,-122.432337
12206,,2101 & 2155 WEBSTER STREET,0629037,2015-10-30,CONSTRUCTION,10/01/2015,2015-06-08,201311222660,2013-11-22,2015-06-08,2013-11-22,2015-10-30,CONSTRUCTION,"('2015-06-08', '2015-07-27', '2015-10-30')",144.0,"('CONSTRUCTION', 'CONSTRUCTION', 'CONSTRUCTION')",3,2015,Under Construction,76.0,76.0,37.790296,-122.432772

# Analysis Section

In [176]:
#convert completion date to date variables type
new_df['project_duration_days'].describe()

count     613.000000
mean     1751.290375
std      1194.313905
min       -20.000000
25%       827.000000
50%      1402.000000
75%      2518.000000
max      8806.000000
Name: project_duration_days, dtype: float64