## SF Housing Pipeline Report

In [67]:
# .csv("/data/all_quarters_merged.csv", function(data) {
#   console.log(data[0]);
# });
import pandas as pd
df = pd.read_csv("data/all_quarters_merged.csv")

# import pandas as pd
# df = pd.read_csv("/data/all_quarters_merged.csv")
# df.drop_duplicates()

/Users/Padum/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,2,5,11,15,16,19,20,26,27,28,29,30,31,33,34,35,36,37,38,39,40,41,42,43,44,45,47,48,49,51,52,53,54,62,71,82,90,93,94,95,96,98,99,100,101,102,103,105,113,114,115,116,117,118,119,120,121,122,123,140,142,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [68]:
df.head()

,Column,actdate,action,action_seq,aff,aff_dec,affnet,affordab_1,affordable,affordable_net,...,x,y,zonename,zoning,zoning_gen,zoning_generalized,zoning_sim,zoning_simplified,zoningdistrictname,classified_neighborhood
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.756751,-122.388969,NaN,NCT-2,NaN,Mixed Use,NaN,NCT-2,NaN,Unknown
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.800127,-122.434940,NaN,NC-3,NaN,Mixed Use,NaN,NC-3,NaN,Unknown
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.756322,-122.460196,NaN,RH-1(D),NaN,Residential,NaN,RH-1(D),NaN,Unknown
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.756561,-122.418695,NaN,Mission St NCT,NaN,Mixed Use,NaN,Mission Street,NaN,Unknown
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.722873,-122.456990,NaN,RH-2,NaN,Residential,NaN,RH-2,NaN,Unknown

In [69]:
df_neighborhood = df.groupby(['neighborhood'])
df_neighborhood.head()

,Column,actdate,action,action_seq,aff,aff_dec,affnet,affordab_1,affordable,affordable_net,...,x,y,zonename,zoning,zoning_gen,zoning_generalized,zoning_sim,zoning_simplified,zoningdistrictname,classified_neighborhood
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.756751,-122.388969,NaN,NCT-2,NaN,Mixed Use,NaN,NCT-2,NaN,Unknown
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.800127,-122.434940,NaN,NC-3,NaN,Mixed Use,NaN,NC-3,NaN,Unknown
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.756322,-122.460196,NaN,RH-1(D),NaN,Residential,NaN,RH-1(D),NaN,Unknown
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.756561,-122.418695,NaN,Mission St NCT,NaN,Mixed Use,NaN,Mission Street,NaN,Unknown
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.722873,-122.456990,NaN,RH-2,NaN,Residential,NaN,RH-2,NaN,Unknown
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.742132,-122.418345,NaN,RH-1,NaN,Residential,NaN,RH-1,NaN,Unknown
6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.718400,-122.457838,NaN,RH-1,NaN,Residential,NaN,RH-1,NaN,Unknown
7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.718079,-122.403350,NaN,RH-1,NaN,Residential,NaN,RH-1,NaN,Unknown
8,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.731973,-122.375385,NaN,NC-2,NaN,Mixed Use,NaN,NC-2,NaN,Unknown
9,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.724347,-122.387592,NaN,PDR-2,NaN,Industrial,NaN,PDR-2,NaN,Unknown
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.787693,-122.393033,NaN,RH DTR,NaN,High Density Residential,NaN,RH DTR,NaN,Unknown
11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.754893,-122.412271,NaN,UMU,NaN,Mixed Use,NaN,UMU,NaN,Unknown
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.745933,-122.476036,NaN,RH-2,NaN,Residential,NaN,RH-2,NaN,Unknown
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.733184,-122.406229,NaN,RM-1,NaN,Residential,NaN,RM-1,NaN,Unknown
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.762264,-122.412253,NaN,PDR-1-G,NaN,Industrial,NaN,PDR-1-G,NaN,Unknown
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.782920,-122.411966,NaN,RC-4,NaN,Mixed Use,NaN,RC-4,NaN,Unknown
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.756913,-122.407850,NaN,RH-2,NaN,Residential,NaN,RH-2,NaN,Unknown
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.760651,-122.430683,NaN,RH-3,NaN,Residential,NaN,RH-3,NaN,Unknown
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.781273,-122.481432,NaN,RM-1,NaN,Residential,NaN,RM-1,NaN,Unknown
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.719316,-122.397354,NaN,RM-1,NaN,Residential,NaN,RM-1,NaN,Unknown
20,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.734545,-122.392226,NaN,RH-2,NaN,Residential,NaN,RH-2,NaN,Unknown
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.755873,-122.414062,NaN,RH-3,NaN,Residential,NaN,RH-3,NaN,Unknown
23,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.779476,-122.408324,NaN,RED,NaN,Mixed Use,NaN,RED,NaN,Unknown
24,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.780815,-122.394743,NaN,SPD,NaN,Mixed Use,NaN,SPD,NaN,Unknown
25,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.737993,-122.384954,NaN,RH-1,NaN,Residential,NaN,RH-1,NaN,Unknown
26,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.792726,-122.422633,NaN,RC-4,NaN,Mixed Use,NaN,RC-4,NaN,Unknown
27,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.783712,-122.475498,NaN,RH-2,NaN,Residential,NaN,RH-2,NaN,Unknown
28,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.789991,-122.411288,NaN,RC-4,NaN,Mixed Use,NaN,RC-4,NaN,Unknown
29,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.715760,-122.453084,NaN,RH-1,NaN,Residential,NaN,RH-1,NaN,Unknown
30,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.727957,-122.390551,NaN,RH-2,NaN,Residential,NaN,RH-2,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8824,8824,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.782609,-122.451979,NaN,NaN,Residential,NaN,RH-2,NaN,"RESIDENTIAL- HOUSE, TWO FAMILY",Unknown
8836,8836,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.715012,-122.406152,NaN,NaN,Residential,NaN,RH-1,NaN,"RESIDENTIAL- HOUSE, ONE FAMILY",Unknown
8846,8846,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.725060,-122.459492,NaN,NaN,Residential,NaN,RH-1(D),NaN,"RESIDENTIAL- HOUSE, ONE FAMILY- DETACHED",Unknown
8871,8871,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.739847,-122.427176,NaN,NaN,Residential,NaN,RH-2,NaN,"RESIDENTIAL- HOUSE, TWO FAMILY",Unknown
8877,8877,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.740332,-122.426374,NaN,NaN,Residential,NaN,RH-2,NaN,"RESIDENTIAL- HOUSE, TWO FAMILY",Unknown
8883,8883,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.750573,-122.466368,NaN,NaN,Residential,NaN,RH-1,NaN,"RESIDENTIAL- HOUSE, ONE FAMILY",Unknown
8919,8919,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.738930,-122.424749,NaN,NaN,Public,NaN,P,NaN,PUBLIC,Unknown
8924,8924,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.790405,-122.429374,NaN,NaN,Residential,NaN,RM-2,NaN,"RESIDENTIAL- MIXED, MODERATE DENSITY",Unknown
8937,8937,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.734670,-122.436199,NaN,NaN,Residential,NaN,RH-1,NaN,"RESIDENTIAL- HOUSE, ONE FAMILY",Unknown
8944,8944,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.786629,-122.493183,NaN,NaN,Residential,NaN,RH-1(D),NaN,"RESIDENTIAL- HOUSE, ONE FAMILY- DETACHED",Unknown
8955,8955,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.747093,-122.465115,NaN,NaN,Residential,NaN,RH-1(D),NaN,"RESIDENTIAL- HOUSE, ONE FAMILY- DETACHED",Unknown
8965,8965,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.746445,-122.450708,NaN,NaN,Residential,NaN,RH-1,NaN,"RESIDENTIAL- HOUSE, ONE FAMILY",Unknown
8970,8970,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.746443,-122.450416,NaN,NaN,Residential,NaN,RH-1,NaN,"RESIDENTIAL- HOUSE, ONE FAMILY",Unknown
8988,8988,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.747148,-122.450996,NaN,NaN,Residential,NaN,RH-1,NaN,"RESIDENTIAL- HOUSE, ONE FAMILY",Unknown
9011,9011,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.730904,-122.477641,NaN,NaN,Residential,NaN,RH-1(D),NaN,"RESIDENTIAL- HOUSE, ONE FAMILY- DETACHED",Unknown
9077,9077,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.791915,-122.404603,NaN,NaN,Commercial,NaN,C-3-O,NaN,DOWNTOWN- OFFICE,Unknown
9126,9126,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.795693,-122.409298,NaN,NaN,Mixed Use,NaN,CRNC,NaN,CHINATOWN- RESIDENTIAL- NEIGHBORHOOD COMMERCIAL,Unknown
9281,9281,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,37.733137,-122.495609,NaN,NaN,NaN,NaN,RH-1(D),NaN,NaN,Unknown
9381,9381,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,37.790577,-122.430323,NaN,NaN,NaN,NaN,RH-2,NaN,NaN,Unknown
9486,9486,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,37.787297,-122.492644,NaN,NaN,NaN,NaN,RH-1(D),NaN,NaN,Unknown
10165,10165,NaN,NaN,NaN,2050.0,NaN,1800.0,NaN,NaN,NaN,...,37.824284,-122.370951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
10926,10926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,37.745044,-122.444544,NaN,NaN,NaN,NaN,RH-1,NaN,NaN,Unknown
11039,11039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,37.787297,-122.492644,NaN,NaN,NaN,NaN,RH-1(D),NaN,NaN,Unknown
11283,11283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2050.0,NaN,...,37.824284,-122.370951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
12109,12109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,37.745044,-122.444544,"RESIDENTIAL- HOUSE, ONE FAMILY",NaN,NaN,NaN,RH-1,NaN,NaN,Unknown
12218,12218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,37.787297,-122.492644,"RESIDENTIAL- HOUSE, ONE FAMILY- DETACHED",NaN,NaN,NaN,RH-1(D),NaN,NaN,Unknown
12475,12475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2050.0,NaN,...,37.824284,-122.370951,PUBLIC,NaN,NaN,NaN,P,NaN,NaN,Unknown
13476,13476,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,37.787297,-122.492644,NaN,NaN,NaN,NaN,RH-1(D),NaN,NaN,Unknown
13496,13496,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,37.745044,-122.444544,NaN,NaN,NaN,NaN,RH-1,NaN,NaN,Unknown
13770,13770,NaN,NaN,NaN,NaN,NaN,NaN,1800.0,2050.0,NaN,...,37.824284,-122.370951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [70]:
# Neighborhood column
df.iloc[:,72]

0           Central Waterfront
1                       Marina
2                 Inner Sunset
3                      Mission
4             Ingleside, Other
5               Bernal Heights
6             Ingleside, Other
7         South Central, Other
8                  India Basin
9                BVHP Area A,B
10                 Rincon Hill
11                     Mission
12                Outer Sunset
13        South Central, Other
14                     Mission
15                    Downtown
16                     Mission
17                     Central
18                    Richmond
19               BVHP Area A,B
20               BVHP Area A,B
21                     Mission
22                     Mission
23                   East SoMa
24                   East SoMa
25            Other S Bayshore
26                   Northeast
27                    Richmond
28                   Northeast
29            Ingleside, Other
                 ...
15040         Western Addition
15041       Financial District
15042          South of Market
15043          South of Market
15044                  Bayview
15045                  Bayview
15046                  Bayview
15047       Financial District
15048         Western Addition
15049                  Bayview
15050       Financial District
15051          South of Market
15052           Outer Richmond
15053      Castro/Upper Market
15054                  Bayview
15055          South of Market
15056                  Bayview
15057          South of Market
15058    Downtown/Civic Center
15059             Russian Hill
15060                  Bayview
15061                Lakeshore
15062          South of Market
15063                Chinatown
15064                  Bayview
15065                  Bayview
15066                  Bayview
15067                Lakeshore
15068               Noe Valley
15069          South of Market
Name: neighborhood, dtype: object

In [71]:
# Matt: this is to convert to an acutal date, to be sorted correctly
df['best_date'] = pd.to_datetime(df['best_date'])

In [72]:
# Sort by apn. apn is the lot number for the parcel, 
# it serves as the unique ID for each property
df = df.sort_values(['apn', 'best_date'])

# note: there are rare instances where an apn number relates 
# to two different construction projects

In [73]:
df.head()

,Column,actdate,action,action_seq,aff,aff_dec,affnet,affordab_1,affordable,affordable_net,...,x,y,zonename,zoning,zoning_gen,zoning_generalized,zoning_sim,zoning_simplified,zoningdistrictname,classified_neighborhood
214,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.806808,-122.420554,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown
1326,1326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.806808,-122.420554,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown
1510,1510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.806808,-122.420554,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown
2199,2199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.806808,-122.420554,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown
3011,3011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.806528,-122.421013,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown

## df_apn2
### Groupby including 'neighborhood', 'landuse', 'unitsnet'.
TO DO: figure out how to use this groupby, df_apn2 later on to extract data on how long it takes on average depending on these categories.

In [97]:
df_apn2 = df.groupby(['apn', 'best_stat', 'neighborhood', 'landuse', 'unitsnet'], as_index=True).first()

In [98]:
df_apn2.head(10)

,,,,,Column,actdate,action,action_seq,aff,aff_dec,affnet,affordab_1,affordable,affordable_net,...,x,y,zonename,zoning,zoning_gen,zoning_generalized,zoning_sim,zoning_simplified,zoningdistrictname,classified_neighborhood
apn,best_stat,neighborhood,landuse,unitsnet,,,,,,,,,,,,,,,,,,,,,
0025017,CONSTRUCTION,Russian Hill,Mixres,1.0,9056,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.806528,-122.421013,NaN,NaN,Commercial,NaN,C-2,NaN,COMMUNITY BUSINESS,Unknown
0025024,BP FILED,Russian Hill,Resident,5.0,8522,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.805745,-122.421814,NaN,NaN,Commercial,NaN,C-2,NaN,COMMUNITY BUSINESS,Unknown
0026030,CONSTRUCTION,Russian Hill,Resident,3.0,8644,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.805590,-122.420891,NaN,NaN,Residential,NaN,RH-3,NaN,"RESIDENTIAL- HOUSE, THREE FAMILY",Unknown
0028014,BP ISSUED,Russian Hill,Mixres,20.0,8420,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.805775,-122.418178,NaN,NaN,Commercial,NaN,C-2,NaN,COMMUNITY BUSINESS,Unknown
0041001,PL FILED,North Beach,Mixres,17.0,8429,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.805883,-122.411873,NaN,NaN,Residential,NaN,RM-3,NaN,"RESIDENTIAL- MIXED, MEDIUM DENSITY",Unknown
0041039,BP FILED,North Beach,Mixres,2.0,8714,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.805585,-122.413165,NaN,NaN,Commercial,NaN,C-2,NaN,COMMUNITY BUSINESS,Unknown
0069011,CONSTRUCTION,Russian Hill,Resident,1.0,8784,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.802238,-122.421051,NaN,NaN,Residential,NaN,RH-3,NaN,"RESIDENTIAL- HOUSE, THREE FAMILY",Unknown
0069020,PL FILED,Russian Hill,Resident,1.0,8661,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.802828,-122.419961,NaN,NaN,Residential,NaN,RH-3,NaN,"RESIDENTIAL- HOUSE, THREE FAMILY",Unknown
0073020,BP FILED,Russian Hill,Resident,1.0,8615,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.802404,-122.415264,NaN,NaN,Residential,NaN,RM-1,NaN,"RESIDENTIAL- MIXED, LOW DENSITY",Unknown
0074001,CONSTRUCTION,North Beach,CIE,0.0,9129,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,37.802619,-122.413210,NaN,NaN,Mixed Use,NaN,NCD,NaN,NORTH BEACH NEIGHBORHOOD COMMERCIAL,Unknown

## df_apn
### Groupby just 'apn', 'best_stat'

In [74]:
# as_index=False is key here. It works with .first() 
# to retreive only the first value
df_apn = df.groupby(['apn', 'best_stat'], as_index=False).first()

In [75]:
df_apn.head()

,apn,best_stat,Column,actdate,action,action_seq,aff,aff_dec,affnet,affordab_1,...,x,y,zonename,zoning,zoning_gen,zoning_generalized,zoning_sim,zoning_simplified,zoningdistrictname,classified_neighborhood
0,0025017,BP APPROVED,1510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.806808,-122.420554,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown
1,0025017,BP FILED,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.806808,-122.420554,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown
2,0025017,BP REINSTATED,2199,NaN,NaN,8.0,NaN,NaN,NaN,NaN,...,37.806808,-122.420554,NaN,C-2,NaN,Commercial,NaN,C-2,NaN,Unknown
3,0025017,CONSTRUCTION,7307,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,37.806528,-122.421013,NaN,C-2,Commercial,Commercial,C-2,C-2,COMMUNITY BUSINESS,Unknown
4,0025024,BP FILED,8522,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,37.805745,-122.421814,NaN,NaN,Commercial,NaN,C-2,NaN,COMMUNITY BUSINESS,Unknown

We need to be able to get the difference in time from when the project is first filed. There are two file dates, PL FILED is first, and represents the Planning stage, then BP FILED, for the building stage. However, not all projects have both of these.

Paula Chiu from the Planning Department explained it thus in an email to me Apr 6,2017: "some projects in the development pipeline will go through review with both the Planning Department and the Department of the Building Inspection. Depending on the nature of the proposed project, an applicant may or may not need to go through review at the Planning Department and can apply for an over-the-counter permit. Most major development projects do start the intake process at the Planning Department, but there is not one linear path a project must go through from start to finish. Any applicable construction activity require permits"

In [76]:
# pivot 
df_apn = df_apn.pivot(index='apn', columns='best_stat', values='best_date')

In [77]:
df_apn.head()

best_stat,BP APPROVED,BP FILED,BP ISSUED,BP REINSTATED,CONSTRUCTION,PL APPROVED,PL FILED
apn,,,,,,,
0025017,2012-12-10,2010-11-29,NaT,2013-04-24,2014-09-24,NaT,NaT
0025024,NaT,2014-12-16,NaT,NaT,NaT,NaT,NaT
0026030,NaT,2011-11-07,2012-09-06,NaT,2013-06-12,NaT,NaT
0028014,NaT,2013-06-14,2014-04-22,NaT,NaT,2011-06-08,NaT
0041001,NaT,NaT,NaT,NaT,NaT,NaT,2014-06-16

### Create new columns for each of our dates of interest

In [78]:
df_apn['bp_filed_to_issued_days'] = (df_apn['BP ISSUED'] - df_apn['BP FILED']).dropna().apply(lambda x: x.days)

In [79]:
df_apn.head()

best_stat,BP APPROVED,BP FILED,BP ISSUED,BP REINSTATED,CONSTRUCTION,PL APPROVED,PL FILED,bp_filed_to_issued_days
apn,,,,,,,,
0025017,2012-12-10,2010-11-29,NaT,2013-04-24,2014-09-24,NaT,NaT,NaN
0025024,NaT,2014-12-16,NaT,NaT,NaT,NaT,NaT,NaN
0026030,NaT,2011-11-07,2012-09-06,NaT,2013-06-12,NaT,NaT,304.0
0028014,NaT,2013-06-14,2014-04-22,NaT,NaT,2011-06-08,NaT,312.0
0041001,NaT,NaT,NaT,NaT,NaT,NaT,2014-06-16,NaN

In [80]:
df_apn['bp_issued_to_reinstated_days'] = (df_apn['BP REINSTATED'] - df_apn['BP FILED']).dropna().apply(lambda x: x.days)

In [81]:
df_apn.head()

best_stat,BP APPROVED,BP FILED,BP ISSUED,BP REINSTATED,CONSTRUCTION,PL APPROVED,PL FILED,bp_filed_to_issued_days,bp_issued_to_reinstated_days
apn,,,,,,,,,
0025017,2012-12-10,2010-11-29,NaT,2013-04-24,2014-09-24,NaT,NaT,NaN,877.0
0025024,NaT,2014-12-16,NaT,NaT,NaT,NaT,NaT,NaN,NaN
0026030,NaT,2011-11-07,2012-09-06,NaT,2013-06-12,NaT,NaT,304.0,NaN
0028014,NaT,2013-06-14,2014-04-22,NaT,NaT,2011-06-08,NaT,312.0,NaN
0041001,NaT,NaT,NaT,NaT,NaT,NaT,2014-06-16,NaN,NaN

In [82]:
df_apn['bp_reinstated_to_construction_days'] = (df_apn['CONSTRUCTION'] - df_apn['BP REINSTATED']).dropna().apply(lambda x: x.days)
df_apn['bp_filed_to_construction_days'] = (df_apn['CONSTRUCTION'] - df_apn['BP FILED']).dropna().apply(lambda x: x.days)
df_apn['bp_issued_to_construction_days'] = (df_apn['CONSTRUCTION'] - df_apn['BP ISSUED']).dropna().apply(lambda x: x.days)

In [83]:
df_apn.head()

best_stat,BP APPROVED,BP FILED,BP ISSUED,BP REINSTATED,CONSTRUCTION,PL APPROVED,PL FILED,bp_filed_to_issued_days,bp_issued_to_reinstated_days,bp_reinstated_to_construction_days,bp_filed_to_construction_days,bp_issued_to_construction_days
apn,,,,,,,,,,,,
0025017,2012-12-10,2010-11-29,NaT,2013-04-24,2014-09-24,NaT,NaT,NaN,877.0,518.0,1395.0,NaN
0025024,NaT,2014-12-16,NaT,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN
0026030,NaT,2011-11-07,2012-09-06,NaT,2013-06-12,NaT,NaT,304.0,NaN,NaN,583.0,279.0
0028014,NaT,2013-06-14,2014-04-22,NaT,NaT,2011-06-08,NaT,312.0,NaN,NaN,NaN,NaN
0041001,NaT,NaT,NaT,NaT,NaT,NaT,2014-06-16,NaN,NaN,NaN,NaN,NaN

### Preliminary results
TO DO: figure out how to bring back 'neighborhood', 'landuse', 'unitsnet'for comparing average time per category

### It takes about 1.5 years (563 days) from file to issued. 
### It takes about 1.7 years (636 days) from filed to construction.

TO DO: check to see if these numbers make any sesne. Are they in the ballpark?

In [88]:
df_mean_bp_filed_to_issued_days = df_apn['bp_filed_to_issued_days'].mean()

In [89]:
df_mean_bp_filed_to_issued_days

563.4060773480663

In [84]:
df_mean_bp_filed_to_construction_days = df_apn['bp_filed_to_construction_days'].mean()

In [85]:
df_mean_bp_filed_to_construction_days()

636.4736842105264

In [94]:
df_mean_bp_issued_to_construction_days = df_apn['bp_issued_to_construction_days'].mean()

In [95]:
df_mean_bp_issued_to_construction_days()

TypeError: 'float' object is not callable

In [86]:
df_neighborhood = df_apn.groupby(['neighborhood'])

KeyError: 'neighborhood'

In [99]:
df_apn.shape

(3249, 12)


Paula Chiu on email to me April 13, 2017: The Planning Department does report on housing supply through the Housing Inventory (published annually) and the data sets can be found here:
https://data.sfgov.org/browse?category=Housing+and+Buildings&q=Housing+Inventory.
I think the housing inventory would an appropriate data set for your research.